{% extends "web/vglist/base.html" %}

{% load static %}

{% block title %}{{ block.super }} - About {% endblock %}

{% block base %}
		<div class="container">
			<div class="description">
				<center><img src="{% static 'img/logo.png' %}" style="max-height:120px;" /></center>
				<hr />
				<h1>About VGList:</h1>
				<p style="white-space:pre-line;">
					The main idea behind the project was born in 2011 on a casual talk among some friends. We wanted to create a website where you can list games you have played, meet new gamers, discuss about games you like and so on. However, the most important idea was to make it be created by gamers to gamers, where everybody can contribute to make something big. We want to make our community part of our creation process, and also part of the our success.
				</p>
				<br/>
				<h3>
					Our Features:
				</h3>
				<hr>
				<p style="white-space:pre-line;">
					Right now these are some of the features we already have.
					
					<ul>
						<li>Game pages, with developers, publisher, console, boxart, release date info and some other info.</li>
						<li>Studios and Platform pages.</li>
						<li>Profile pages and lists, where you can record all games you have already played and rate them.</li>
					</ul>
					
					More features will be added in the future. Stay tuned!
				</p>
			</div>
		</div>
{% endblock base %}

