{% extends "web/vglist/base.html" %}

{% load static %}

{% block title %} {{ block.super }} - Add Studio {% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block base %}
	<div class="container">
		<div class="row" style="margin-bottom:2em;">
			<div class="description" style="text-align:center;">
				<h1>Add Studio</h1>
				<p> Hey! Thank you for contributing to VGList Project! Please, certify that the Studio that you're adding isn't already on our Database. <br>
				</p>
				
				{% if has_permission.vglist.controller.add_studio %}
					{% if error == '4' %}
						<p style="color:red;">
							<b>Error!</b> Studio's Name is an obrigatory field, please fill it...
						</p>
					{% endif %}
					<form method="POST" enctype="multipart/form-data">
						<h3>Studio Name:</h3>
						<input type='text' placeholder="Studio Name" name='name' class="register">
						<br />
						<br />
						<input type='submit' value="Add Studio" class="simpleButton">
					</form>
				{% else %}
					<p>
						<!-- <b>Attention!</b> You need to <a href="{% url 'vglist.views.login' %}">Log in</a> to create add a Studio, obviously. -->
						<b> IMPORTANT!</b> You don't have the permission to Edit/Add info on VGList just yet. We're currently on read-only mode while still getting some stuff ready, so hang in there!<br>

						Sincerely, <br>
						VGList Staff
					</p>				
				{% endif %}
			</div>
		</div>
	</div>
{% endblock base %}
