{% extends "web/vglist/base.html" %}

{% load static %}

{% block title %}{{ block.super }} - Add Game {% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block base %}
	<div class="container">
		<div class="row" style="margin-bottom:2em;">
			<div class="description" style="text-align:center;">
				<h1>Add Game</h1>
				<p> Hey! Thank you for contributing to VGList Project! Please, certify that the game that you're adding isn't already on our Database. <br>
				</p>
				
				{% if has_permission.vglist.controller.create_new_game %}
					{% if error == '4' %}
						<p style="color:red;">
							<b>Error!</b> Game Name is an obrigatory field, please fill it...
						</p>
					{% endif %}
					<form method="POST" enctype="multipart/form-data">
						<h3>Game Name:</h3>
						<input type='text' placeholder="Game Name" name='name' class="register">
						<br />
						<h3>Game Synopsis:</h3>
						<textarea name="synopsis" cols='30' rows='10' placeholder="Game Synopsis"></textarea>
						<br />
						<br />
						
						<label><b>Source Name:</b></label> <input type="text" name="synopsis_source_name" value="{{ game.game_global.synopsis_source_name }}" placeholder="Description's source name" class="register" style="height:30px;" />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<label><b>Source Link:</b></label> <input type="text" name="synopsis_source_link" value="{{ game.game_global.synopsis_source_link }}" placeholder="Description's source link" class="register" style="height:30px;" />
						<br />
						<br />

						<input type='submit' value="Add Game" class="simpleButton">
					</form>
				{% else %}
					<p>
						<!-- <b>Attention!</b> You need to <a href="{% url 'vglist.views.login' %}">Log in</a> to create a New Game, obviously. -->
						<b> IMPORTANT!</b> You don't have the permission to Edit/Add info on VGList just yet. We're currently on read-only mode while still getting some stuff ready, so hang in there!<br>

						Sincerely, <br>
						VGList Staff
					</p>				
				{% endif %}
			</div>
		</div>
	</div>
{% endblock base %}
