{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}
{% load inaccurate_date %}

{% block title %}{{ block.super }} - News {% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}


{% block base %}
	<div class="container" style="min-width:1200px">
		<div class="row" style="margin-bottom:2em;">
			<div class="col-md-12 description">
				<div class="news_title"><h1>VGList News</h1></div>

				<div class="search_paginator">
					<div class="rpp_container">
						<select class="rpp" id="rpp">
							<option value="20">-- Results per Page --</option>
							<option value="5">5</option>
							<option value="20">20</option>
							<option value="100">100</option>
						</select>
					</div>
					<div class="search_paginator_container">
						<ul class="nav nav-pills">
							<li style="padding-left:1px;padding-right:1px;"><a class="label" style="padding-left:1px;padding-right:1px;"><b>Pages: </b></a></li>
							{% if result.has_prev_page %}
								<li><a onClick="newUrl('{{ request.get_full_path }}','{{ result.prev_offset }}', 'offset');"> < </a></li>
							{% else %}
								<li><a> < </a></li>
							{% endif %}
							{% if result %}
								{% for i in browser.get_pages %}
									{% for j in i %}
										{% if result.cur_page|add:1 == j.page %}
											<li class="active"><a>{{ j.page }}</a></li>
										{% else %}
											<li><a onClick="newUrl('{{ request.get_full_path }}', '{{ j.offset }}', 'offset')">{{ j.page }}</a></li>
										{% endif %}
									{% endfor %}
									{% if not forloop.last %}
										<li><a>...</a></li>								
									{% endif %}
								{% endfor %}
							{% else %}
								<li class="active"><a>1</a></li>
							{% endif %}
							{% if result.has_next_page %}
								<li><a onClick="newUrl('{{ request.get_full_path }}','{{ result.next_offset }}', 'offset');"> > </a></li>
							{% else %}
								<li><a>></a></li>
							{% endif %}
						</ul>				
					</div>
				</div>

				<div class="news_container">
					{% for i in result %}
						<div class="news_entry" onClick="window.location = '{% url 'vglist.views.view_news' i.id %}';">
							<div class="image"></div>
							<div class="news">
								<div class="news_entry_header">
									<div class="entry_header"><h2>{{ i.title }}</h2></div>
									<div class="commentsnum"><a href="{% url 'vglist.views.view_news' i.id %}#comments-anchor">{{ i.comments.count }} comments</a></div>
								</div>
								
								<div style="color:#888; margin-top:5px; padding-left:15px;">By: {{ i.poster.username }} @ {{ i.time }}</div>
								<p style="padding:15px;">{% if i.body|length > 300 %}{{ i.body|slice:":300" }}...{% else %}{{ i.body }}{% endif %}</p>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="search_paginator">
					<div class="rpp_container">
						<select class="rpp" id="rpp">
							<option value="20">-- Results per Page --</option>
							<option value="5">5</option>
							<option value="20">20</option>
							<option value="100">100</option>
						</select>
					</div>
					<div class="search_paginator_container">
						<ul class="nav nav-pills">
							<li style="padding-left:1px;padding-right:1px;"><a class="label" style="padding-left:1px;padding-right:1px;"><b>Pages: </b></a></li>
							{% if result.has_prev_page %}
								<li><a onClick="newUrl('{{ request.get_full_path }}','{{ result.prev_offset }}', 'offset');"> < </a></li>
							{% else %}
								<li><a> < </a></li>
							{% endif %}
							{% if result %}
								{% for i in browser.get_pages %}
									{% for j in i %}
										{% if result.cur_page|add:1 == j.page %}
											<li class="active"><a>{{ j.page }}</a></li>
										{% else %}
											<li><a onClick="newUrl('{{ request.get_full_path }}', '{{ j.offset }}', 'offset')">{{ j.page }}</a></li>
										{% endif %}
									{% endfor %}
									{% if not forloop.last %}
										<li><a>...</a></li>								
									{% endif %}
								{% endfor %}
							{% else %}
								<li class="active"><a>1</a></li>
							{% endif %}
							{% if result.has_next_page %}
								<li><a onClick="newUrl('{{ request.get_full_path }}','{{ result.next_offset }}', 'offset');"> > </a></li>
							{% else %}
								<li><a>></a></li>
							{% endif %}
						</ul>				
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock base %}

{% block javascript %}
	{{ block.super }}
	<script>
		$(document).ready(function(){
			$('#rpp option[value="{{ rpp }}"]').attr("selected", "selected")
		});
		
		function newUrl(cur, new_param, change){
			if(change == "offset"){
				cur = cur.split("?&offset=");
				var url = cur[0] + "?&offset=" + new_param + "&rpp={{ rpp }}";
			}
			if(change == "rpp"){
				cur = cur.split("&rpp=");
				var url = cur[0] + "?offset={{ result.offset }}" + "&rpp=" + new_param;
			}
			
			window.location = url;
			
		}
		
		$('.rpp').change(function(){
			newUrl('{{ request.get_full_path }}', $('.rpp').val(), 'rpp');
		});
		
	</script>
{% endblock %}

