{% extends "web/vglist/base.html" %}

{% load static %}

{% block head %}
	{{ block.super }}

	<link rel="stylesheet" href="{% static 'css/register.css' %}">
	<link rel="stylesheet" href="{% static 'css/edit_page.css' %}">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

{% block javascript %}

	{{ block.super }}
	
	<script src="{% static 'js/input_preview_search.js' %}"></script>
	<script src="{% static 'js/extensions/prefix_search.js' %}"></script>
	
	<script>
		$('input,select').keypress(function(event) {
			return event.keyCode != 13;
		}); //prevent submitting form when ENTER key is pressed inside inputs and selects
	</script>

{% endblock %}
