{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}

{% block title %}VGList{% endblock %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block base %}
<div class="container">
	<div class="row" style="margin-bottom:2em;">
		<div class="col-md-12 profile_banner" style="background-image: url('{{ profile.banner|default:no_banner }}'); background-repeat: no-repeat; background-position: center;background-size:cover;">
			<img src="{{ profile.avatar|default:no_avatar }}" class="big_image" />
			<h1>{{ profile.username }}</h1>
			<p>
				
				<b>Joined {{ profile.join_time|timesince }} ago<br /></b>
				Was online {{ profile.last_online|timesince }} ago<br />
				Gender: {{ profile.gender }} <br />
			</p>
		</div>
		<div class="col-md-12 description" style="margin-top:-10px;">
			<div class="profilebuttons_container">
				
				<div class="profilebutton" onClick="window.location = '{% url 'vglist.views.friends' profile.username %}'">
					<img src="{% static 'icons/friends.png' %}" /> {{ profile.friend_count }} FRIENDS
				</div>
				
				<div class="profilebutton" onClick="window.location = '{% url 'vglist.views.user_list' profile.username %}'";>
					<img src="{% static 'icons/list-black.png' %}" /> {{ profile.list_count }} LIST ENTRIES
				</div>
				

				{% if profile.is_friend %}
					<div class="profilebutton_nohover">
						<img src="{% static 'icons/check.png' %}" /> <span style="color:#395f39;"> ALREADY FRIENDS </span>
					</div>
				{% else %}
					{% if profile.is_me %}
					{% else %}
						{% if profile.is_pending_friend %}
							<div class="profilebutton_nohover">
								<img src="{% static 'icons/check.png' %}" /> <span style="color:#395f39;"> PENDING REQUEST </span>
							</div>
						{% else %}
							<div class="profilebutton" onClick="$('#friend').submit();">
								<img src="{% static 'icons/Add-Friend.png' %}" /> ADD FRIEND
								<form METHOD="POST" id="friend" action="{% url 'vglist.views.add_friend' profile.username %}"></form>
							</div>
						{% endif %}
					{% endif %}
				{% endif %}
				
			</div>
			
			{% block profile_content %}
			{% endblock profile_content %}			
		</div>
		
		<!-- <div class="col-md-9 description">
			<h1>{{ profile.username }}</h1>
				
				<p style="text-align:center;"><a href="{% url 'vglist.views.user_list' profile.username %}">View {{ profile.username }}'s Games List </a></p>
				<b>Friends:</b> {{ profile.friend_count }}<br />
				<b>List Entries:</b> {{ profile.list_count }}
			
				
			<p style="white-space:pre-line;"> {{ profile.bio }}</p>
		</div> -->
	</div>
	
	{% block comments %}
	{% endblock comments %}

</div>

		
{% endblock base %}


{% block javascript %}
	{{ block.super}}
{% endblock %}

