{% load static %}
{% load tag_extensions %}
{% load permissions %}
{% load_permissions at has_permission %}

{% static 'img/defaults/user.png' as no_avatar %}
{% static 'img/defaults/news.png' as no_news_banner %}
{% static 'img/noimage.png' as no_image %}
{% static 'img/defaults/no_banner.jpg' as no_banner %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}VGList - v0.2{% endblock %}</title>
        <meta name="description" content="VGList is a video games database and social network that you can list and rate the games that you played.
        wish to play or dropped.">
        <meta name="keywords" content="video game, video game social network, gamer, game list, gamer network,
        playstation, nintendo, sony, microsoft, linux, mac, steam, games, social games, game listed, indie games network,
        indie game, hardcore gaming, soft games, facebook games, gamer world, mainstream games, top games, ranking games,
        online games, new games, old games, atari, games generation, vglist, mygamelist">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" href="{% static 'css/button.css' %}">
        <link rel="stylesheet" href="{% static 'css/comments.css' %}">
		<link rel="stylesheet" href="{% static 'css/grid.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/image_overlay.css' %}">
		<link rel="stylesheet" href="{% static 'css/header.css' %}">
		<link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/bases/overlay.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/jquery-ui.min.css' %}">
        
        <link href="{% static 'icons/favicon.ico' %}" rel="icon" type="image/x-icon" />
		
		{% block head %}{% endblock %}
		
    </head>
    <body>
		<div id="screen">
			{% block overlay %}
			{% endblock %}
		</div>
		<div class="header" style="min-width: {% block header_min_width %}1200{% endblock %}px;">
			<div class="logo">
				<h1 unselectable="on">VGList Project</h1>
			</div>
			
			<div class ="user_area_container">
				{% if user.is_authenticated %}
					<div class="user_area">
						<div class="avatar">
							<img src="{{ user.thumbnail|img_url|default:no_avatar }}"></img>
						</div>

						<div class="username">
							<h3>{{ user.username }}</h3>
						</div>
					</div>
					
					<div class="user_dropdown_safetymousearea"></div>
					
					<div class="user_dropdown_menu">
						
						<p class="user_dropdown_option data_href_link" data-href="{% url 'vglist.views.home' %}">
							<img src="{% static 'icons/home.png' %}" />HOME</p>
						<div class="user_drop_hr"></div>
						
						<p class="user_dropdown_option data_href_link" data-href="{% url 'vglist.views.notifications' user.username %}">
							{% if user.pending_friend_requests_received %}
								<img src="{% static 'icons/message-256-unread.png' %}" />
							{% else %} 
								<img src="{% static 'icons/message-256.png' %}" /> 
							{% endif %} 
							NOTIFICATIONS
						</p>
						
						<div class="user_drop_hr"></div>
						
						<p class="user_dropdown_option data_href_link" data-href="{% url 'vglist.views.profile' user.username %}">
							<img src="{% static 'icons/profile.png' %}" />
							PROFILE
						</p>
						
						<div class="user_drop_hr"></div>
						
						<p class="user_dropdown_option data_href_link" data-href="{% url 'vglist.views.user_list' user.username %}">
							<img src="{% static 'icons/List.png' %}" />
							LIST
						</p>
						
						<div class="user_drop_hr data_href_link"></div>
						
						<p class="user_dropdown_option data_href_link" data-href="{% url 'vglist.views.edit_user' %}">
							<img src="{% static 'icons/cog.png' %}" />
							OPTIONS
						</p>
						
						<div class="user_drop_hr"></div>


						<p class="user_dropdown_option data_href_link" data-href="{% url 'vglist.views.logout' %}">
							<img src="{% static 'icons/logout.png' %}" />
							LOGOUT
						</p>
						<div class="clear"></div>
					</div>
					
				{% else %}
					<div class="user_area_notlogged">
						<p class="notlogged_menu"><a href="{% url 'vglist.views.register' %}">REGISTER</a> | <a class="register_header" onclick="$('.login_dropdown').show();">LOGIN</a></p>
						<div class="login_dropdown">
							<div class="login_dropdown_header"><h3>LOGIN</h3></div>
							<form method="POST" action="{% url 'vglist.views.login' %}">
								<input type='text' placeholder="Username/Email" name='username' class="login">
								<br/>
								<input type='password' placeholder="Password" name='password' class="login">
								<br/>
								<input type='submit' value="Log In" class="simpleButton">
							</form>
							<p>
								Don't have an account?<br> <a href="{% url 'vglist.views.register' %}">Register here!</a>
							</p>

						</div>
					</div>
				{% endif %}
				
				<div class="user_area_arrow"></div>
			</div>
			
			<div class="search_area">
				<form method="GET" action="{% url 'vglist.views.search' %}" style="display:inline;" id="header_search_form">
					<input type="search" placeholder="Type your search here..." name="key"/>
					<div class="header_search_magnifier"><img src="{% static 'icons/magnifier.png' %}" onclick='document.getElementById("header_search_form").submit();'></div>
					<select class="header_search" name='q' style="display:none;">
						<option value="game" selected=selected >Game</option>
						<option value="studio">Studio</option>
						<option value="platform">Platform</option>
						<option value="user">Users</option>
					</select>
					
					<div class="searchtype" onclick="searchtype_select('open');">
						<p class="searchtype_selected" unselectable="on">GAME</p>
					</div>
					<div class="searchtype_drop">
						<p class="searchtype_option" onclick="searchtype_update('GAME'); searchtype_select('close');">GAME</p>
						<div class="searchtype_drop_hr"></div>
						<p class="searchtype_option" onclick="searchtype_update('PLATFORM'); searchtype_select('close');">PLATFORM</p>
						<div class="searchtype_drop_hr"></div>
						<p class="searchtype_option" onclick="searchtype_update('STUDIO'); searchtype_select('close');">STUDIO</p>
						<div class="searchtype_drop_hr"></div>
						<p class="searchtype_option" onclick="searchtype_update('USER'); searchtype_select('close');">USERS</p>
						
					</div>
					
					<div class="searchtype_arrow"></div>
				</form>
			</div>
			
			<div class="contribute_menu_container">
				<div class="contribute_menu">
					<h2 unselectable="on">CONTRIBUTE</h2>
				</div>
				
				<div class="contribute_dropdown_safetymousearea"><div class="contribute_arrow"></div></div>
				
				
				<div class="contribute_dropdown">
					{% if has_permission.vglist.controller.create_new_game %}
					<p class="data_href_link" data-href="{% url 'vglist.views.add_game' %}"><img src="{% static 'icons/joystick.png' %}" /> ADD GAME</p>
					{% else %}
					<p><img src="{% static 'icons/joystick.png' %}" /> <strike> ADD GAME</strike></p>
					{% endif %}

					{% if has_permission.vglist.controller.add_studio %}
						<div class="contribute_drop_hr"></div>
						<p class="data_href_link" data-href="{% url 'vglist.views.add_studio' %}"> <img src="{% static 'icons/studio.png' %}" />ADD STUDIO</p>
					{% else %}
						<div class="contribute_drop_hr"></div>
						<p><img src="{% static 'icons/studio.png' %}" /> <strike> ADD STUDIO</strike></p>						
					{% endif %}

					{% if has_permission.vglist.controller.add_platform %}
						<div class="contribute_drop_hr"></div>
						<p class="data_href_link" data-href="{% url 'vglist.views.add_platform' %}"><img src="{% static 'icons/platform.png' %}" /> ADD PLATFORM</p>
					{% else %}
						<div class="contribute_drop_hr"></div>
						<p><img src="{% static 'icons/platform.png' %}" /> <strike> ADD PLATFORM</strike></p>
					{% endif %}
					<div class="clear"></div>
				</div>
				
			</div>
			
			{% block context_menu %}
			{% endblock %}
			
			{% if has_permission.vglist.controller.CreateNewsController %}
				<a href="{% url 'vglist.views.panel' %}">
					<div class="panel_menu_container">
						<div class="panel_menu">
							<h2 unselectable="on">PANEL</h2>
						</div>
					</div>
				</a>
			{% endif %}
			
		</div>
		
		<div class="header_placeholder"></div>
		
		{% block base %}
		{% endblock %}
		
		<div id="hidden">
			{% block hidden %}
			{% endblock %}
		</div>
    
		<div class="footer" style="min-width: {% block footer_min_width %}1200{% endblock %}px;">
			<div class="footer_shortcuts">
				<a href="{% url 'vglist.views.home' %}">Home</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.view_all_news' %}">News</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.register' %}">Register</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.staff' %}">Staff</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.about' %}">About</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.policy' %}">Privacy Policy</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.contact' %}">Contact</a>			

			</div>
				<p>2014 &#8226; VGList Games Database and Social Network  &#8226; <a href='http://vglist.net/'>vglist.net</a> &#8226; <a href='http://vglist.org/'>vglist.org</a> &#8226; <a href='http://vglist.info/'>vglist.info</a></p>
		</div>
	</body>
	
	{% block javascript %}
		<script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/holder.js' %}"></script>
        <script src="{% static 'js/search.js' %}"></script>
        <script src="{% static 'js/lorem.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/overlay.js' %}"></script>
        <script src="{% static 'js/image_overlay.js' %}"></script>
		<script>
			$(".logo").click(function(e)
			{
				document.location = "{% url 'vglist.views.home' %}";
			})
									
			function searchtype_select(action){
				if(action == 'close'){
					$('.searchtype_drop').css('display','none');
					$('.searchtype_arrow').css('border-width','12px 6px 0px 10px');
					$('.searchtype_arrow').css('margin-top', '25px');
				}
				if(action == 'open'){
					$('.searchtype_drop').css('display','block');
					$('.searchtype_arrow').css('border-width','0px 12px 15px 10px');
					$('.searchtype_arrow').css('margin-top', '22px');

				}
				else{
					return false;
				}
			}
			
			function searchtype_update(type){
				$('.searchtype_selected').html(type);
				if(type == "GAME"){
					$('.header_search').val('game');
				}
				
				if(type == "PLATFORM"){
					$('.header_search').val('platform');
				}
				
				if(type == "STUDIO"){
					$('.header_search').val('studio');
				}
				
				if(type == "USER"){
					$('.header_search').val('user');
				}
				
				else{
					return false;
				}
			}
			
			$( ".user_area" ).mouseover(function() {
				$(".user_area_arrow").css("top","40px");
				$(".user_area_arrow").css("border-bottom","25px solid #644F75");
				$(".user_area_arrow").css("border-left","16px solid transparent");
				$(".user_area_arrow").css("border-right","16px solid transparent");
				$(".user_area_arrow").css("border-top","0");
				$(".user_area_arrow").css("z-index","100");
				$(".user_dropdown_safetymousearea").show();
				$(".user_dropdown_menu").show();
				
			});
			
			$(".user_area_container").mouseover(function() {
				$('.user_area').css("background-color","#826798");
				$('.user_area').css("height","52px");
				
			});
			
			$( ".user_area_container" ).mouseleave(function() {
				$('.user_area').css("background-color","#644F75");
				$(".user_area_arrow").css("top","40px");
				$(".user_area_arrow").css("border-top","21px solid #644F75");
				$(".user_area_arrow").css("border-left","15px solid transparent");
				$(".user_area_arrow").css("border-right","15px solid transparent");
				$(".user_area_arrow").css("z-index","-10");
				$(".user_area_arrow").css("border-bottom","0");
				$('.user_area').css("height","50px");
				$(".user_dropdown_menu").hide();
				$(".user_dropdown_safetymousearea").hide();
			});
			
			$('.data_href_link').click(function(e){
				document.location = this.dataset.href;
			})
			
			
			$(".contribute_menu_container").mouseover(function(){
				$(".contribute_dropdown").show();
				$(".contribute_arrow").show();
			});
			
			$( ".contribute_menu_container" ).mouseleave(function() {
				$(".contribute_dropdown").hide();
				$(".contribute_arrow").hide();
			});
			
			
			$('html').click(function() {
				$('.login_dropdown').fadeOut();
			});

			$('.login_dropdown').click(function(event){
				event.stopPropagation();
			});
			
			$('.register_header').click(function(event){
				event.stopPropagation();
			});
		</script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-53231363-1', 'auto');
			ga('send', 'pageview');
		</script>

	{% endblock %}

</html>
