{% extends "web/vglist/base.html" %}

{% load static %}

{% block title %}{{ block.super }} - Contact {% endblock %}

{% block head %}<link rel="stylesheet" href="{% static 'css/register.css' %}">{% endblock %}

{% block base %}
		<div class="container">
			<div class="description">
				<center><img src="{% static 'img/logo.png' %}" style="max-height:120px;" /></center>
				<hr />
				<h1>Contact Us</h1>
				<p style="white-space:pre-line;">
					Here you can send emails to our staff. Our staff will try to reply your email as soon as possible. We'll send the reply to the same email address. We'll not share your information, but we may store the email to future problems.
					<br>
					Please, be polite, we'll always try to help our users: <a href="mailto:info@vglist.net">info@vglist.net</a> .
				</p>
				<br>

				<h3>Business/Advertising Contact:</h3>
				<hr>
				If you are willing to contact us to advertise on our page, or if you have something business-related, please contact our email <a href="mailto:business@vglist.net">business@vglist.net</a>.
				<br>VGList is always open to good proposals, we'll answer you as quick as possible.
				<br/>
				<br/>
			</div>
		</div>
{% endblock base %}


