{% extends "web/vglist/base_edit_pages.html" %}

{% load static %}
{% load tag_extensions %}

{% block title %} {{ block.super }} - Edit Platform - {{ platform.name }}{% endblock %}

{% block base %}
	{{block.super}}
	
	<div class="container">
		<div class="row" style="margin-bottom:2em;">
			<div class="description" style="text-align:center;">

				<h1>Edit Platform</h1>
				{% if has_permission.vglist.controller.edit_platform %}
					<form method="POST" enctype="multipart/form-data" onSubmit="selectAllNames();">
						
						<h3>Platform Name:</h3>
						<input type='text' value="{{ platform.name }}" name='name' class="register">
						<br />
						
						<h3>Platform Alternative Names:</h3>
						<input type='text' placeholder="Add alternative names" id="altname" class="register" /> 
						<input type="button" class="inline_simpleButton" value="Add to List" onClick="addAltName();"/><br /><br />
							Currently selected alternative names to send (click to remove from list): <br />
						
						<select multiple name="alternative_names" style="min-width:120px;" id="altname_select">
							{% if platform.alternative_names.all > 0 %}
								{% for i in platform.alternative_names.all %}
									<option value="{{ i }}" onClick="removeThis('{{ i }}')">{{ i }}</option>
								{% endfor %}
							{% endif %}
						</select>
						<br />
						
						
						<h3>Platform Description:</h3>
						<textarea name="synopsis" cols='30' rows='10'>{{ platform.synopsis }}</textarea>
						<br />
						<br />
						<label><b>Source Name:</b></label> <input type="text" name="synopsis_source_name" value="{{ platform.synopsis_source_name }}" placeholder="Description's source name" class="register" style="height:30px;" />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<label><b>Source Link:</b></label> <input type="text" name="synopsis_source_link" value="{{ platform.synopsis_source_link }}" placeholder="Description's source link" class="register" style="height:30px;" />
						<br />
						<br />
												
						<h3>Image:</h3>
						<img src="{{ platform.image|img_url|default:no_image }}" class="big_image" />
						<p>Current Image</p>
						<input type='file' name="image" class="simpleButton">
						<br />
												
						<h3>Manufacturer:</h3>
						<input type="text" id="manufacturer_search" placeholder="Search here"/>
						
						<br />
						<br />
						<input type='submit' value="Edit Platform" class="simpleButton">
					</form>

				{% else %}
					<b> IMPORTANT!</b> You don't have the permission to Edit/Add info on VGList just yet. We're currently on read-only mode while still getting some stuff ready, so hang in there!<br>

					Sincerely, <br>
					VGList Staff
				{% endif %}
			</div>
		</div>
	</div>

{% endblock base %}

{% block javascript %}
	{{ block.super }}
	
	<script>
		function addAltName(){
			$('#altname_select').append($('<option>', {
				value: $("#altname").val(),
				text: $("#altname").val(),
				onClick: "removeThis($('#altname').val())",
			}));
		}
		
		function removeThis(value){
			if(confirm("Are you sure?")){
				$('#altname_select option[value='+ value +']').remove();
				return true;
			}
			else{
				return false;
			}
		}
		
		function selectAllNames(){
			$('#altname_select option').attr('selected', 'selected');
		}
		
		var url = "{% url 'vglist.views.studio' 0 %}"
		$("#manufacturer_search").prefix_search("{% url 'vglist.views.studios_by_prefix' %}",{'name': 'manufacturer',
			'initial_item': {
				'pk': '{{ platform.manufacturer_id|default:0 }}',
				'name': '{{ platform.manufacturer.name|default:"Unknown" }}',
			},
			'extra_items': [
				{
					'pk': '0',
					'name': 'Unknown',
				}
			],
			'span_content': "<a href='" + url.replace(/0/g,"%id%") + "' target='__blank'> %name%"});
	</script>
{% endblock javascript %}
