{% extends "web/vglist/base_profile.html" %}

{% load static %}
{% load tag_extensions %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}


{% block title %}{{ block.super }} -  {{ profile.username }}'s Friends List {% endblock %}

{% block profile_content %}
	<div class="profilebio_container">
		{% if profile.friends %}
		Showing {{ profile.friend_count }} friends:
		<br>
			<div class="friends_container">
				{% for i in profile.friends %}
					<div class="friend_entry" onClick="window.location = '{% url 'vglist.views.profile' i.username %}';">
							<img src="{{ i.avatar|default:no_avatar }}" />
							<span>{{ i.username }}</span>
							{% if profile.is_me %}<span style="float:right;padding-right:10px;margin-top:17px;"><a class="confirmation" href="{% url 'vglist.views.remove_friend' user.username i.username %}"><img src="{% static 'icons/no.png' %}" />Remove Friend</a></span>{% endif %}
					</div>
				{% endfor %}
			</div>
		
		{% else %}
			<div class="bio_not_written">
				<p>{{ profile.username }} has no friends... How sad... :(</p>
			</div>
		{% endif %}
	</div>
{% endblock profile_content %}
{% block javascript %}
	{{ block.super }}
	<script>
	    $('.confirmation').on('click', function () {
			return confirm('Are you sure?');
		});
	</script>
{% endblock javascript %}
