{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}
{% load inaccurate_date %}

{% block title %}{{ block.super }} - Game - {{ game.name }} {% if game.console %}({{ game.console.short_name }}){% endif %} {% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/button.css' %}">
	<link rel="stylesheet" href="{% static 'css/game.css' %}">
	<link rel="stylesheet" href="{% static 'css/image_overlay.css' %}">
	<link rel="stylesheet" href="{% static 'css/add_to_list_overlay.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
	<link href="{% static 'css/simple-slider.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block context_menu %}
	<div class="context_menu_container">
		<div class="game_menu">
			<h2 unselectable="on">GAME</h2>
		</div>
		
		<div class="game_dropdown_safetymousearea"><div class="game_arrow"></div></div>
		
		
		<div class="game_dropdown">
			<p class="add_to_list_button">ADD TO LIST</p>
			<div class="game_drop_hr"></div>
			<p class="user_dropdown_option data_href_link" data-href="{% url 'vglist.views.edit_game' game.game_global.id game.local_id %}">EDIT GAME</p>
			<div class="game_drop_hr"></div>
			<p class="user_dropdown_option data_href_link" data-href="{% url 'vglist.views.add_game_version' game.game_global.id %}">ADD VERSION</p>
		</div>		
	</div>
{% endblock %}

{% block hidden %}
	<div class="image_overlay">
		<div class="image_wrapper">
			<img src="{{ game.high_definition|img_url|default:no_image }}"></img><br>
		</div>
		<div class="subtitle_wrapper">
			{{ game.name }} - Boxart
		</div>
	</div>

	<div class="add_to_list_overlay">
		<p>You are adding {{ game.name }} to your game list. You can edit this entry later by clicking on it at your game list on
		the status that you wish to edit.</p>
		<form method="POST" action="{% url 'vglist.views.add_list_entry' game.game_global.id game.local_id %}">
			<table>
				<tr>
					<td class="label">Status:</td>
					<td class="input">
						<select name="status" id="add_to_list_status" >
							<option value='0'>Playing</option>
							<option value='2'>Completed</option>
							<option value='4'>On hold</option>
							<option value='6'>Dropped</option>
							<option value='1'>Wished</option>
						</select>
					</td>
				</tr>
				<tr id="line-score">
					<td class="label">Score:</td>
					<td class="input"><input id="score" type="text" data-slider="true"  data-slider-range="0,100" data-slider-step="1" data-slider-highlight="true" /> <input type="number" class="score-show" name='score' value="" placeholder="--" /></td>
				</tr>
				<tr>
					<td class="label">Version:</td>
					<td class="input">						
						<select name="version" id="add_to_list_version">
							{% for i in game.game_global.gamelocal_set.all %}
								<option value="{{ i.local_id }}">{{ i.console.short_name }}</option>
							{% endfor %}					
						</select>
					</td>
				</tr>
			</table>
			<div class='row'>
				<input type="submit" class="btn2" value="Add" style="width:150px;text-align:center;padding-left:0;padding-right:0;"/>
			</div>
		</form>
	</div>

{% endblock %}

{% block base %}
	<div class="container" style="min-width:1200px">
		<div class="row" style="margin-bottom:2em;">
			<div class="col-md-3 boxart">
				<div class="game_version"><span id="version-selected">{{ game.console.short_name }}</span> <img src="{{ STATIC_URL }}img/arrow_down.png" /></div>
				
				<div class="game_version_dropdown">
				</div>
				
				<img src="{{ game.regular|img_url|default:no_image }}" class="big_image" id="game_boxart" title="{{ game.name }} Boxart"/>
				<br>
				<button class="btn2 add_to_list_button" style="width:140px; margin-top:10px;padding-top:5px;" value="Add to list"><img src="{% static 'icons/plus-white.png' %}" /> Add to list</button>
			</div>

			<div class="col-md-9 description">
				<h1 style="font-size:26px;">{{ game.name }} <span style="color:#777;font-weight:300; font-size:22px;">({{ game.console.short_name }})</span></h1>
				
					<b>Average Score:</b>
						{% if game.game_global.score %}
							{{ game.game_global.score|floatformat:"1" }}<span style="color:#a0a0a0;"> / 100</span>
						{% else %}
							-- <span style="color:#a0a0a0;"> / 100</span>
						{% endif %}
					<br />
																				
					<b>Release Date:</b>
					{% if game.release_date %} 
					 	{% inaccurate_date game.release_date "%d %b, %Y" "%B %Y" "%Y" %} 
					{% else %} 
					 	Unknown 
					{% endif %}

					<br />
					
					<b>Published by:</b>
					{% if game.publishers.all.count > 0 %}
						{% for pub in game.publishers.all %}
							{% if forloop.last %}
								<a href="{% url 'vglist.views.studio' pub.pk %}">  {{ pub.name }}</a>
							{% else %}
								<a href="{% url 'vglist.views.studio' pub.pk %}">  {{ pub.name }}</a> |
							{% endif %}
						{% endfor %} 
					{% else %}
						Unknown
					{% endif %}
					<br />
					
					<b>Developed by:</b> 
					{% if game.developers.all.count > 0 %}
						{% for i in game.developers.all %}
							{% if forloop.last %}
								<a href="{% url 'vglist.views.studio' i.pk %}">  {{ i.name }}</a>
							{% else %}
								<a href="{% url 'vglist.views.studio' i.pk %}">  {{ i.name }}</a> |
							{% endif %}
						{% endfor %} <br />
					{% else %}
						Unknown
					{% endif %}
										
				<p style="white-space:pre-line;">{{ game.game_global.synopsis }}</p>

				<br>
				{% if game.game_global.synopsis_source_name or game.game_global.synopsis_source_link %}
					<p style="color:#777; margin-top:-10px; font-size:12px;text-align:right; margin-right:15px;"> Source: <i>{{ game.game_global.synopsis_source_name }}
					{% if game.game_global.synopsis_source_link %} ({{ game.game_global.synopsis_source_link }}){% endif %}</i></p>
				{% endif %}
			</div>
		</div>

		
		<div class="comments_container">
		</div>
	
	</div>
{% endblock base %}

{% block footer_min_width %}1200{% endblock %}


{% block javascript %}
	{{ block.super }}
	<script src="{% static 'js/extensions/comments.js' %}"></script>
	<script src="{% static 'js/extensions/simple-slider.js' %}"></script>
	<script>
		$('#add_to_list_status').change(function(){
			if($('#add_to_list_status').find(":selected").val() == 1){
				$('#line-score').fadeOut();
			}
			else{
				$('#line-score').fadeIn();	
			}
		});
		
		//Populate Game Versions List
		var versions = [];
		var html = '';
		var select = '';
		var i;
		
		{% for i in game.game_global.gamelocal_set.all %}
			{% if i.local_id != game.local_id %}
					versions.push("<a href=\"{% url 'vglist.views.game' i.game_global.id i.local_id %}\">{{i.console.short_name}}</a>");
				{% endif %}
		{% endfor %}

				
		for( i = 0; i < versions.length; i++){
			html += '<p onClick=\"document.location = \''+ $(versions[i]).attr('href') + '\'\">' + versions[i] + '</p>'
		}
		

		$('.game_version_dropdown').html(html);
		
		$("#game_boxart").click(function(e){
			$(get_overlay()).html($('.image_overlay'))
			show_overlay()
		})
		
		$(".add_to_list_button").click(function(e){
			var id = {{ game.local_id }};
			$('#add_to_list_version option[value="'+id+'"]').attr("selected", "selected");
			$(get_overlay()).html($('.add_to_list_overlay'));
			show_overlay();
		});
		
		//PREVIEW THE SCORE
		document.ready = function(){
		$("#score").bind("slider:changed", function (event, data) {
			$(".score-show").val(data.value);

		});
		
		//Change selector position based on score input value
		$(".score-show").keyup(function(){
			$("#score").simpleSlider("setValue", $(".score-show").val());
		});
					
		//COMMENTS PLUGIN CALL
		var comments = [];
			
		{% if user.is_authenticated %}
			var options = {'login_token':true};
		{% else %}
			var options = {'login_token':false};
		{% endif %}
		
		{% for i in game.comments.all reversed %}
			{% autoescape on %}
				comments.push({
					'commenter': '{{ i.commenter.user.username }}',
					'commenter_avatar': '{{ i.commenter.user.thumbnail|img_url|default:no_image }}',
					'commenter_profile_url': "{% url 'vglist.views.profile' i.commenter.user.username %}",
					'comment_text':'{{ i.comment.text|escapejs }}',
					'comment_date':{
						'timesince':'{{ i.comment.post_time|timesince }}',
						'year': '{{ i.comment.post_time.year }}',
						'month':'{{ i.comment.post_time.month }}',
						'month_text':'{{ i.comment.post_time|date:"M" }}',
						'day': '{{ i.comment.post_time.day }}',
						'hour': '{{ i.comment.post_time|date:"H" }}',
						'minute':'{{ i.comment.post_time|date:"i" }}',
					}
				});
			{% endautoescape %}
		{% endfor %}
		
		$('.comments_container').vglistComments(comments, "{% url 'vglist.views.add_comment_to_game' game.game_global.id game.local_id %}", '{{ user.thumbnail|img_url|default:no_image }}', options);
		}
		
		$(".context_menu_container").mouseover(function(){
			$(".game_dropdown").show();
			$(".game_arrow").show();
		
		});
		
		$( ".context_menu_container" ).mouseleave(function(){
			$(".game_dropdown").hide();
			$(".game_arrow").hide();
		});
		
		$(".game_version").mouseover(function(){
			if(versions.length > 0){
				$(".game_version_dropdown").show();
			}
		});
		
		$(".game_version_dropdown").mouseleave(function(){
			$(".game_version_dropdown").hide();
		});
		
	</script>
{% endblock %}
