{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}

{% block title %}{{ block.super }} -  {{ profile.username }}'s Games List {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block base %}
<div class="list_container">
	<div class="leftbar">
		<div class="leftbar_menu">
			<img src="{{ profile.thumbnail|img_url|default:no_image }}" class="thumbnail" /><br />
			<b>{{ profile.username }}</b>
			<p style="white-space:pre-line;">You are viewing {{ profile.username }}'s gamelist.
			<a href="{% url 'vglist.views.profile' profile.username %}">View {{ profile.username }}'s Profile</a></p>
			<br>
			<b>List Filters:</b>
			<div class="filters_wrapper">
				<input type="checkbox" name="Playing" value="Playing" onClick="filter_update(this)" checked>Playing<br />
				<input type="checkbox" name="Completed" value="Completed" onClick="filter_update(this)" checked>Completed<br />
				<input type="checkbox" name="On hold" value="On hold" onClick="filter_update(this)" checked>On Hold<br />
				<input type="checkbox" name="Dropped" value="Dropped" onClick="filter_update(this)" checked>Dropped<br />
				<input type="checkbox" name="Wished" value="Wished" onClick="filter_update(this)" checked>Wished<br />
			</div>
		</div>
	</div>
	<div class="rightbar">
		<div class="row">
			<div class="col-md-12">
				<h2 class="playing">Playing:</h2>
				<table class="playing list_table">
						<thead><tr><th data-sort="string-ins" data-sort-default="asc" class="name">Name</th> <th data-sort="string-ins" class="platform">Platform</th> <th data-sort="int" class="score">Score</th> <th class="status">Status</th><th class="hidden_submit"></th></tr></thead>
						<tbody>
						{% for i in profile.vglistuser.listentry_set.all %}
							{% if i.status == 0 %}
								<tr class="list_gamerow">
									<td><a href="{% url 'vglist.views.game' i.game.game_global_id i.game.local_id  %}"> {{ i.game.name }} </a> <span class="deletebutton" style="float:right; padding-right:10px; display:none;">{% if  profile.email == user.email %}<form method="POST" style="display:inline;" action="{% url 'vglist.views.remove_list_entry' i.game.game_global.id i.game.local_id %}"><img style="max-width:13px;cursor:pointer;" src='{% static "icons/X.png" %}' onclick="$(this).closest('form').submit();" /></form>{% endif %}</span></td>
									{% if i.game.console_id %}
										<td><a href="{% url 'vglist.views.platform' i.game.console_id %}"> {{ i.game.console }}</a></td>
									{% else %}
										<td>---</td>
									{% endif %}
									{% if  profile.email == user.email %}
										{% if i.game.score %}
											<td class="score">  <span style="display: none;">{{ i.score }}</span> <input type="text" name="value3" value="{{i.score}}" class="input_table_cell score_input" onfocus="show_submit_button(this);" style="text-align:right;" />/100</td>
										{% else %}
											<td class="score"> <input type="text" name="value3" value="---" class="input_table_cell score_input" onfocus="show_submit_button(this);" style="text-align:right;"  />/100</td>
										{% endif %}
		
										<td class="status_input_wrapper"> <input type="text" name="value" value="{{ i.get_status_display }}" class="input_table_cell status_input" onfocus="show_status_select(this);" /></td>
										<td class="hidden_submit" >
											<form method="POST" enctype="multipart/form-data" onSubmit="assemble_values(this);" action="{% url 'vglist.views.edit_list_entry' i.game.game_global.id i.game.local_id %}">
												<input type='submit' value="Edit" class="tiny_simpleButton">
												<select name="status" class="hidden_status_input" style="display:none;">
													<option value='0'>Playing</option>
													<option value='1'>Wished</option>
													<option value='2'>Completed</option>
													<option value='3'>Not playing</option>
													<option value='4'>On hold</option>
													<option value='5'>Mastered</option>
													<option value='6'>Dropped</option>
												</select>
												<input type="hidden" name="score" class="hidden_score_input"/>
											</form>
										</td>
									{% else %}
										{% if i.game.score %}
											<td> {{i.score}}/100 </td>
										{% else %}
											<td> ---/100 </td>
										{% endif %}
										
										<td>{{ i.get_status_display }}</td>
										<td class="hidden_submit"></td>
									{% endif %}
								</tr>
							{% endif %}
						{% endfor %}
						</tbody>
				</table>
				
				<h2 class="completed">Completed:</h2>
				<table class="completed list_table">
						<thead><tr><th data-sort="string-ins" data-sort-default="asc" class="name">Name</th> <th data-sort="string-ins" class="platform">Platform</th> <th data-sort="int" class="score">Score</th> <th class="status">Status</th> <th class="hidden_submit"></th></tr></thead>
						<tbody>
						{% for i in profile.vglistuser.listentry_set.all %}
							{% if i.status == 2 %}
								<tr class="list_gamerow">
									<td><a href="{% url 'vglist.views.game' i.game.game_global_id i.game.local_id  %}"> {{ i.game.name }} </a> <span class="deletebutton" style="float:right; padding-right:10px; display:none;">{% if  profile.email == user.email %}<form method="POST" style="display:inline;" action="{% url 'vglist.views.remove_list_entry' i.game.game_global.id i.game.local_id %}"><img style="max-width:13px;cursor:pointer;" src='{% static "icons/X.png" %}' onclick="$(this).closest('form').submit();" /></form>{% endif %}</span></td>
									{% if i.game.console_id %}
										<td><a href="{% url 'vglist.views.platform' i.game.console_id %}"> <span style="display:none;">{{ i.game.console }}</span> {{ i.game.console }}</a></td>
									{% else %}
										<td>---</td>
									{% endif %}
									{% if  profile.email == user.email %}
										{% if i.game.score %}
											<td class="score"> <span style="display: none;">{{ i.score }}</span> <input type="text" name="value3" value="{{i.score}}" class="input_table_cell score_input" onfocus="show_submit_button(this);" style="text-align:right;" />/100</td>
										{% else %}
											<td class="score"> <input type="text" name="value3" value="---" class="input_table_cell score_input" onfocus="show_submit_button(this);" style="text-align:right;"  />/100</td>
										{% endif %}
		
										<td class="status_input_wrapper"> <input type="text" name="value" value="{{ i.get_status_display }}" class="input_table_cell status_input" onfocus="show_status_select(this);" /></td>
										<td class="hidden_submit" >
											<form method="POST" enctype="multipart/form-data" onSubmit="assemble_values(this);" action="{% url 'vglist.views.edit_list_entry' i.game.game_global.id i.game.local_id %}">
												<input type='submit' value="Edit" class="tiny_simpleButton">
												<select name="status" class="hidden_status_input" style="display:none;">
													<option value='0'>Playing</option>
													<option value='1'>Wished</option>
													<option value='2'>Completed</option>
													<option value='3'>Not playing</option>
													<option value='4'>On hold</option>
													<option value='5'>Mastered</option>
													<option value='6'>Dropped</option>
												</select>
												<input type="hidden" name="score" class="hidden_score_input"/>
											</form>
										</td>
									{% else %}
										{% if i.game.score %}
											<td> {{i.score}}/100 </td>
										{% else %}
											<td> ---/100 </td>
										{% endif %}
										
										<td>{{ i.get_status_display }}</td>
										<td class="hidden_submit"></td>
									{% endif %}
								</tr>
							{% endif %}
						{% endfor %}
						</tbody>
				</table>
								
				<h2 class="onhold">On Hold:</h2>
				<table class="onhold list_table">
						<thead><tr><th data-sort="string-ins" class="name">Name</th> <th data-sort="string-ins" class="platform">Platform</th> <th data-sort="int" class="score">Score</th> <th class="status">Status</th><th class="hidden_submit"></th></tr></thead>
						<tbody>
						{% for i in profile.vglistuser.listentry_set.all %}
							{% if i.status == 4 %}
								<tr class="list_gamerow">
									<td><a href="{% url 'vglist.views.game' i.game.game_global_id i.game.local_id  %}"> {{ i.game.name }} </a> <span class="deletebutton" style="float:right; padding-right:10px; display:none;">{% if  profile.email == user.email %}<form method="POST" style="display:inline;" action="{% url 'vglist.views.remove_list_entry' i.game.game_global.id i.game.local_id %}"><img style="max-width:13px;cursor:pointer;" src='{% static "icons/X.png" %}' onclick="$(this).closest('form').submit();" /></form>{% endif %}</span></td>
									{% if i.game.console_id %}
										<td><a href="{% url 'vglist.views.platform' i.game.console_id %}"> {{ i.game.console }}</a></td>
									{% else %}
										<td>---</td>
									{% endif %}
									{% if  profile.email == user.email %}
										{% if i.game.score %}
											<td class="score">  <span style="display: none;">{{ i.score }}</span> <input type="text" name="value3" value="{{i.score}}" class="input_table_cell score_input" onfocus="show_submit_button(this);" style="text-align:right;" />/100</td>
										{% else %}
											<td class="score"> <input type="text" name="value3" value="---" class="input_table_cell score_input" onfocus="show_submit_button(this);" style="text-align:right;"  />/100</td>
										{% endif %}
		
										<td class="status_input_wrapper"> <input type="text" name="value" value="{{ i.get_status_display }}" class="input_table_cell status_input" onfocus="show_status_select(this);" /></td>
										<td class="hidden_submit" >
											<form method="POST" enctype="multipart/form-data" onSubmit="assemble_values(this);" action="{% url 'vglist.views.edit_list_entry' i.game.game_global.id i.game.local_id %}">
												<input type='submit' value="Edit" class="tiny_simpleButton">
												<select name="status" class="hidden_status_input" style="display:none;">
													<option value='0'>Playing</option>
													<option value='1'>Wished</option>
													<option value='2'>Completed</option>
													<option value='3'>Not playing</option>
													<option value='4'>On hold</option>
													<option value='5'>Mastered</option>
													<option value='6'>Dropped</option>
												</select>
												<input type="hidden" name="score" class="hidden_score_input"/>
											</form>
										</td>
									{% else %}
										{% if i.game.score %}
											<td> {{i.score}}/100 </td>
										{% else %}
											<td> ---/100 </td>
										{% endif %}
										
										<td>{{ i.get_status_display }}</td>
										<td class="hidden_submit"></td>
									{% endif %}
								</tr>
							{% endif %}
						{% endfor %}
						</tbody>
				</table>
						
				<h2 class="dropped">Dropped:</h2>
				<table class="dropped list_table">
						<thead><tr><th data-sort="string-ins" class="name">Name</th> <th data-sort="string-ins" class="platform">Platform</th> <th data-sort="int" class="score">Score</th> <th class="status">Status</th><th class="hidden_submit"></th></tr></thead>
						<tbody>
						{% for i in profile.vglistuser.listentry_set.all %}
							{% if i.status == 6 %}
								<tr class="list_gamerow">
									<td><a href="{% url 'vglist.views.game' i.game.game_global_id i.game.local_id  %}"> {{ i.game.name }} </a> <span class="deletebutton" style="float:right; padding-right:10px; display:none;">{% if  profile.email == user.email %}<form method="POST" style="display:inline;" action="{% url 'vglist.views.remove_list_entry' i.game.game_global.id i.game.local_id %}"><img style="max-width:13px;cursor:pointer;" src='{% static "icons/X.png" %}' onclick="$(this).closest('form').submit();" /></form>{% endif %}</span></td>
									{% if i.game.console_id %}
										<td><a href="{% url 'vglist.views.platform' i.game.console_id %}"> {{ i.game.console }}</a></td>
									{% else %}
										<td>---</td>
									{% endif %}
									{% if  profile.email == user.email %}
										{% if i.game.score %}
											<td class="score">  <span style="display: none;">{{ i.score }}</span> <input type="text" name="value3" value="{{i.score}}" class="input_table_cell score_input" onfocus="show_submit_button(this);" style="text-align:right;" />/100</td>
										{% else %}
											<td class="score"> <input type="text" name="value3" value="---" class="input_table_cell score_input" onfocus="show_submit_button(this);" style="text-align:right;"  />/100</td>
										{% endif %}
		
										<td class="status_input_wrapper"> <input type="text" name="value" value="{{ i.get_status_display }}" class="input_table_cell status_input" onfocus="show_status_select(this);" /></td>
										<td class="hidden_submit" >
											<form method="POST" enctype="multipart/form-data" onSubmit="assemble_values(this);" action="{% url 'vglist.views.edit_list_entry' i.game.game_global.id i.game.local_id %}">
												<input type='submit' value="Edit" class="tiny_simpleButton">
												<select name="status" class="hidden_status_input" style="display:none;">
													<option value='0'>Playing</option>
													<option value='1'>Wished</option>
													<option value='2'>Completed</option>
													<option value='3'>Not playing</option>
													<option value='4'>On hold</option>
													<option value='5'>Mastered</option>
													<option value='6'>Dropped</option>
												</select>
												<input type="hidden" name="score" class="hidden_score_input"/>
											</form>
										</td>
									{% else %}
										{% if i.game.score %}
											<td> {{i.score}}/100 </td>
										{% else %}
											<td> ---/100 </td>
										{% endif %}
										
										<td>{{ i.get_status_display }}</td>
										<td class="hidden_submit"></td>
									{% endif %}
								</tr>
							{% endif %}
						{% endfor %}
						</tbody>
				</table>
				
				<h2 class="wished">Wished:</h2>
				<table class="wished list_table">
						<thead><tr><th data-sort="string-ins" class="wished_name">Name</th> <th data-sort="string-ins" class="wished_platform">Platform</th> <th class="wished_status">Status</th> <th class="hidden_submit"></th></tr></thead>
						<tbody>
						{% for i in profile.vglistuser.listentry_set.all %}
							{% if i.status == 1 %}
								<tr class="list_gamerow">
									<td><a href="{% url 'vglist.views.game' i.game.game_global_id i.game.local_id  %}"> {{ i.game.name }} </a> <span class="deletebutton" style="float:right; padding-right:10px; display:none;">{% if  profile.email == user.email %}<form method="POST" style="display:inline;" action="{% url 'vglist.views.remove_list_entry' i.game.game_global.id i.game.local_id %}"><img style="max-width:13px;cursor:pointer;" src='{% static "icons/X.png" %}' onclick="$(this).closest('form').submit();" /></form>{% endif %}</span></td>
									{% if i.game.console_id %}
										<td><a href="{% url 'vglist.views.platform' i.game.console_id %}"> {{ i.game.console }}</a></td>
									{% else %}
										<td>---</td>
									{% endif %}
									
									{% if  profile.email == user.email %}
										<td class="status_input_wrapper"> <input type="text" name="value" value="{{ i.get_status_display }}" class="input_table_cell status_input" onfocus="show_status_select(this);" /></td>
										<td class="hidden_submit" >
											<form method="POST" enctype="multipart/form-data" onSubmit="assemble_values(this);" action="{% url 'vglist.views.edit_list_entry' i.game.game_global.id i.game.local_id %}">
												<input type='submit' value="Edit" class="tiny_simpleButton">
												<select name="status" class="hidden_status_input" style="display:none;">
													<option value='0'>Playing</option>
													<option value='1'>Wished</option>
													<option value='2'>Completed</option>
													<option value='3'>Not playing</option>
													<option value='4'>On hold</option>
													<option value='5'>Mastered</option>
													<option value='6'>Dropped</option>
												</select>
												<input type="hidden" name="score" class="hidden_score_input"/>
											</form>
										</td>
									{% else %}
										<td>{{ i.get_status_display }}</td>
										<td class="hidden_submit"></td>
									{% endif %}
								</tr>
							{% endif %}
						{% endfor %}
						</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
{% endblock base %}

{% block javascript %}
	{{ block.super }}
	
	<script src="{% static 'js/tablesort/stupidtable.min.js' %}"></script>
	<script src="{% static 'js/user_list.js' %}"></script>
	<script src="{% static 'js/list_filters.js' %}"></script>

	<script type="text/javascript">
	</script>


{% endblock javascript %}


