
{% load static %}
{% load tag_extensions %}
{% load permissions %}
{% load_permissions at has_permission %}

{% static 'img/defaults/user.png' as no_avatar %}
{% static 'img/defaults/news.png' as no_news_banner %}
{% static 'img/noimage.png' as no_image %}
{% static 'img/defaults/no_banner.jpg' as no_banner %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VGList - Login - v0.2</title>
        <meta name="description" content="VGList is a video games database and social network that you can list and rate the games that you played.
        wish to play or dropped.">
        <meta name="keywords" content="video game, video game social network, gamer, game list, gamer network,
        playstation, nintendo, sony, microsoft, linux, mac, steam, games, social games, game listed, indie games network,
        indie game, hardcore gaming, soft games, facebook games, gamer world, mainstream games, top games, ranking games,
        online games, new games, old games, atari, games generation, vglist, mygamelist">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/grid.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/button.css' %}">
        <link rel="stylesheet" href="{% static 'css/bases/overlay.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
        <link href="{% static 'icons/favicon.ico' %}" rel="icon" type="image/x-icon" />		
    </head>
    <body>

		<div class="loginbg" style="background-image: url('{% static 'img/home3.jpg' %}'); background-repeat: no-repeat; background-position: center;background-size:cover;">
			<div class="advice">
				<img src="{% static 'icons/warning.png' %}" /> <span id="message">{{ e }}</span>
			</div>
			<div class="login_content">
				<h1>VGList Project</h1>
				<div class="login_container">
					<h2 style="color:#330066;font-size:24px;">LOGIN</h2>
					<hr>
					<form method="POST">
						<input type="text" class="inptbootstraplike2" name="username" placeholder="username or email" />
						<input type="password" class="inptbootstraplike2" name="password" placeholder="password" />
						<input type="submit" class="btn2" value="Login" style="margin-top:15px;" />
					</form>
					<p>Not a member? <a href="{% url 'vglist.views.register' %}">Register here</a>.</p>
					<p>Forgot your password? <a href="{% url 'vglist.views.request_recover_password' %}">Click here</a> to recover it</p>
				</div>
			</div>
		</div>
		
	</body>
	
	<script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/search.js' %}"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53231363-1', 'auto');
		ga('send', 'pageview');
	</script>
	
	<script src="{% static 'js/extensions/scroll_into_view.js' %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="{% static 'js/extensions/bootstrap-select.js' %}"></script>

	<script type="text/javascript">
		document.ready = function(){
			var error = '{{ error }}';
			if((error == '')){
			}
			else{
				if(error == '1'){
					$("#message").html("User/email or password not found!");
					$(".advice").fadeIn();
				}
				if(error == '2'){
					$("#message").html("User not active yet. Please check your email inbox for the activation link. If you can't find it, <a href=\"{% url 'vglist.views.resend_activation_email' %}?email={{ email }}\">click here</a> to resend it.");
					$(".advice").fadeIn();
				}
			}
		}

	</script>

</html>

