{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}

{% block title %}{{ block.super }} -  {{ profile.username }}'s Profile {% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/mypanel.css' %}">
	<link rel="stylesheet" href="{% static 'css/search.css' %}">
	{{ block.super }}
{% endblock %}

{% block base %}
<div class="container">
	<div class="sidebar">
		<div class="sidebar-profile-info" onclick="window.location = '{% url 'vglist.views.profile' profile.username %}';">
			<img src="{{ profile.avatar|default:no_avatar }}" class="thumbnail" style="max-width:60px;"/> 
			<div class="img-info"><b>{{ profile.username }} </b> <br> click to see your profile</div>
		</div>
		<ul class="btns">
			<a href="{% url 'vglist.views.friends' profile.username %}"><li>{{ profile.friend_count }} Friends</li></a>
			<a href="{% url 'vglist.views.notifications' profile.username %}"><li>{{ profile.pending_friend_requests_received.count }} 0 Notifications</li></a>
			<a href="{% url 'vglist.views.user_list' profile.username %}"><li>{{ profile.list_count }} List Entries</li></a>
			<a href="{% url 'vglist.views.edit_user' %}"><li>Edit your Profile</li></a>
		</ul>		
	</div>
	
	<div class="content">
		<div class="latest-news">
			<h1>Latest News  <img src="{% static 'icons/arrowdown.png' %}" /></h1>
			<hr />
			
			{% for i in news %}
					<div class="news_entry" onClick="window.location = '{% url 'vglist.views.view_news' i.id %}';">
						<h3>{{ i.title }} <span class="date"><img src="{% static 'icons/calendar.png' %}"/>{{ i.time|date:"M, d Y - H:i" }}</span></h3>
						<p class="author"><img src="{% static 'icons/user.svg' %}" />Author: <a href="{% url 'vglist.views.profile' i.poster.username%}">{{ i.poster.username }}</a> </p>
						<p class="text_preview">{% if i.body|length > 60 %}{{ i.body|slice:":60" }}... Click to see more{% else %}{{ i.body }}{% endif %}</p>
					</div>
				{% endfor %}
			<form action="{% url 'vglist.views.view_all_news' %}">
				<input type="submit" class="blockbtn" value="See all news" />
			</form>
		</div>
		
		<div class="latest-added-games">
			<h1>Latest Added Games  <img src="{% static 'icons/arrowdown.png' %}" /></h1>
			<hr>
			<div class="games_container">
				{% if user.vglistuser.listentry_set.all %}
					{% for i in user.vglistuser.listentry_set.all reversed %}
						{% if forloop.counter < 5 %}
						
						<div class="game_entry" onclick="window.location.href='{% url 'vglist.views.game' i.game.game_global.id i.game.local_id %}';">
							<div class="left">
								<img src="{{ i.game.thumbnail|img_url|default:no_image }}" class="thumbnail" />
							</div>
							<div class="right">
								<p><b>{{ i.game.name }} </b> ({{ i.game.console }}) &nbsp;
									{% if i.game.score %}
										{% if i.game.score > 0 %}
											{% if i.game.score < 10 %}
												<img class="star" src="{% static 'icons/star_half.svg' %}" />
											{% else %}
												<img class="star" src="{% static 'icons/star.svg' %}" />
											{% endif %}
										{% else %}
											<img class="star" src="{% static 'icons/star_empty.svg' %}" />
										{% endif %}
										
										{% if i.game.score > 20 %}
											{% if i.game.score < 30 %}
												<img class="star" src="{% static 'icons/star_half.svg' %}" />
											{% else %}
												<img class="star" src="{% static 'icons/star.svg' %}" />
											{% endif %}
										{% else %}
											<img class="star" src="{% static 'icons/star_empty.svg' %}" />
										{% endif %}
										
										{% if i.game.score > 40 %}
											{% if i.game.score < 50 %}
												<img class="star" src="{% static 'icons/star_half.svg' %}" />
											{% else %}
												<img class="star" src="{% static 'icons/star.svg' %}" />
											{% endif %}
										{% else %}
											<img class="star" src="{% static 'icons/star_empty.svg' %}" />
										{% endif %}
										
										{% if i.game.score > 60 %}
											{% if i.game.score < 70 %}
												<img class="star" src="{% static 'icons/star_half.svg' %}" />
											{% else %}
												<img class="star" src="{% static 'icons/star.svg' %}" />
											{% endif %}
										{% else %}
											<img class="star" src="{% static 'icons/star_empty.svg' %}" />
										{% endif %}
										
										{% if i.game.score > 80 %}
											{% if i.game.score < 90 %}
												<img class="star" src="{% static 'icons/star_half.svg' %}" />
											{% else %}
												<img class="star" src="{% static 'icons/star.svg' %}" />
											{% endif %}
										{% else %}
											<img class="star" src="{% static 'icons/star_empty.svg' %}" />
										{% endif %}
										
										{% else %}
											<img class="star" src="{% static 'icons/star_empty.svg' %}" />
											<img class="star" src="{% static 'icons/star_empty.svg' %}" />
											<img class="star" src="{% static 'icons/star_empty.svg' %}" />
											<img class="star" src="{% static 'icons/star_empty.svg' %}" />
											<img class="star" src="{% static 'icons/star_empty.svg' %}" />
									{% endif %}

									<br> as <i>{{ i.get_status_display }}</i>
								</p>
								
							</div>
						</div>
						{% endif %}
					{% endfor %}
				
				{% else %}
					<p><b><center>No list entries...</center></b></p>
				{% endif %}

			</div>
			<form action="{% url 'vglist.views.user_list' profile.username %}">
				<input type="submit" class="blockbtn" value="View your list" />
			</form>
		</div>
		
		<div class="latest-comments">
			<h1>Latest comments on your profile  <img src="{% static 'icons/arrowdown.png' %}" /></h1>
			<hr>
			<div class="games_container">
				{% if profile.comments %}
					{% for i in profile.comments reversed %}
						{% if forloop.counter < 5 %}
							<div class="game_entry" style="height:108px;">
								<div class="left">
									<img src="{{ i.commenter.user.thumbnail|img_url|default:no_image }}" class="thumbnail" />
								</div>
								<div class="right">
									<b>{{ i.commenter.user.username }}</b> <span style="color:#666;">{{ i.comment.post_time|timesince }}</span>
									<br>
									commented: <i>{{ i.comment.text }}</i>
								</div>
							</div>
						{% endif %}
					{% endfor %}

				{% else %}
					<p><b><center>No comments in your profile :(</center></b></p>
				{% endif %}
			</div>
		</div>
	</div>
</div>		
{% endblock base %}

{% block javascript %}
	{{ block.super}}
	<script src="{% static 'js/extensions/comments.js' %}"></script>
		<script>
			document.ready = function(){
			
		}
	</script>

{% endblock %}
