{% extends "web/vglist/base_profile.html" %}

{% load static %}
{% load tag_extensions %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}


{% block title %}{{ block.super }} -  {{ profile.username }}'s Notications {% endblock %}

{% block profile_content %}
	<div class="profilebio_container">
	{% if profile.is_me %}
			{% if profile.pending_friend_requests_received %}
				<div class="friends_container">
					{% for i in profile.pending_friend_requests_received %}
						<div class="friend_entry">
							<img src="{{ i.avatar|default:no_avatar }}"/>
							<span onClick="window.location = '{% url 'vglist.views.profile' i.username %}';" style="cursor:pointer;">{{ i.username }}</span>
							<span style="float:right;padding-right:10px;margin-top:17px;"><a href="{% url 'vglist.views.accept_friend_request' user.username i.username %}"><img src="{% static 'icons/ok.png' %}" /> Accept</a> &nbsp;&nbsp;&nbsp; <a href="{% url 'vglist.views.reject_friend_request' user.username i.username %}"><img src="{% static 'icons/no.png' %}" />Reject</a></span>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="bio_not_written">
					<p>You have no requests... Maybe try inviting some people!</p>
				</div>
			{% endif %}
		{% else %}
			<div class="bio_not_written">
				<p>Pssh! You don't have permission to view other user's notifications page! Get outta here!</p>
			</div>
		{% endif %}
	</div>
{% endblock profile_content %}


