{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}

{% block title %}{{ block.super }} -  {{ profile.username }}'s Profile {% endblock %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/mypanel.css' %}">
	<link rel="stylesheet" href="{% static 'css/search.css' %}">
	<link rel="stylesheet" href="{% static 'css/button.css' %}">
	<link rel="stylesheet" href="{% static 'css/register.css' %}">
	<link rel="stylesheet" href="{% static 'css/preferences.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
{% endblock %}

{% block base %}
	<div class="advice" style="top:50px; z-index:200;">
		<img src="{% static 'icons/warning.png' %}" /> <span id="message">{{ e }}</span>
	</div>

<div class="container">
	<div class="sidebar">
		<div class="sidebar-profile-info" onclick="window.location = '{% url 'vglist.views.profile' profile.username %}';">
			<img src="{{ profile.avatar|default:no_avatar }}" class="thumbnail" style="max-width:60px;"/> 
			<div class="img-info"><b>{{ profile.username }} </b> <br> click to see your profile</div>
		</div>
		<ul class="btns">
			<a href="{% url 'vglist.views.friends' profile.username %}"><li>{{ profile.friend_count }} Friends</li></a>
			<a href="{% url 'vglist.views.notifications' profile.username %}"><li>{{ profile.pending_friend_requests_received.count }} 0 Notifications</li></a>
			<a href="{% url 'vglist.views.user_list' profile.username %}"><li>{{ profile.list_count }} List Entries</li></a>
		</ul>		
	</div>
	
	<div class="content">
		<div class="latest-news">
			<h1>Change your Settings  <img src="{% static 'icons/arrowdown.png' %}" /></h1>
			<hr />

			<h2 class="typeof_edit">Login Options</h2>
			<hr />
			
			<div class="edit_block">
				<form method="POST" action="{% url 'vglist.views.edit_user' %}" enctype="multipart/form-data">
					<table>
						<tr><td class="label">New email address:</td><td class="input"><input type="email" class="inptbootstraplike_360" name="email" placeholder="New email" /></td></tr>
						<tr><td class="label">Old password:</td><td class="input"><input type="password" class="inptbootstraplike_360" name="old_password" placeholder="Old password" /></td></tr>
						<tr><td class="label">New password:</td><td class="input"><input type="password" id="pswd0" class="inptbootstraplike_360" name="new_password" placeholder="New password" /></td></tr>
						<tr><td class="label">Repeat new password:</td><td class="input"><input type="password" id="pswd1" class="inptbootstraplike_360" placeholder="Confirm new password" onChange="checkPasswordMatch();" /></td></tr>
					</table>
			</div>
			
			<h2 class="typeof_edit">Profile Information Options</h2>
			<hr />
			<div class="edit_block">
				<table>
					<tr style="padding-bottom:20px !important;">
						<td class="label" style="padding-top:3px !important;">Gender:</td>
						<td class="input">									
							<select class="selectpicker" name="gender" id="gender_select">
								<option value="0">Not Set</option>
								<option value="1">Male</option>
								<option value="2">Female</option>
								<option value="3">Other</option>
							</select>
						</td>
					</tr>				
					<tr class="spacy">
						<td class="label label-top">Bio:</td>
						<td class="input textarea"><textarea name="bio" rows='10' placeholder="Type your Bio here">{{ profile.bio }}</textarea></td>
					</tr>
				</table>
				
				<p>Profile Banner:</p>
				<hr />
				<img src="{{ profile.banner|default:no_banner }}" style="max-width:400px;"/> <br />
				<br />
				<input type ="file" name="banner" />

				<p style="margin-top:10px;">Profile Avatar:</p>
				<hr />
				<img src="{{ profile.avatar|default:no_avatar }}" class="big_image" id="blah" style="margin-bottom:10px;" /><br />
				<input type="file" id="imgInp" name="avatar">
				<br>
				<br>
				<br>
				<input type="checkbox"  class="email_checkbox" name="can_receive_mail" value="can_receive_mail" style="margin-right:5px;" checked><label> I would like to receive cool emails from VGList containing the VGList Newsletter! </label>
			</div>
			
			
			<input type="submit" class="blockbtn" value="Submit" style="margin-top:20px;" />
			</form>
		</div>
	</div>
</div>		
{% endblock base %}

{% block javascript %}
	{{ block.super }}
	<script src="{% static 'js/extensions/comments.js' %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="{% static 'js/extensions/bootstrap-select.js' %}"></script>

	<script type="text/javascript">
		function checkPasswordMatch() {
			var password = $("#pswd0").val();
			var confirmPassword = $("#pswd1").val();
			var first=0;
			
			if (password != confirmPassword){
				if(first == 0){
					$(".advice").fadeIn();
				}
				
				$("#message").html("Your passwords do not match!");
				first = 1;
			}
			
			else{
				$(".advice").fadeOut();
				first = 0;
			}
		}
		
		$('.selectpicker').selectpicker();
		$('.selectpicker').selectpicker({
			style: 'btn2',
			size: 4
		});
		
		$("#gender_select > option").each(function() {
			gender = "{{ profile.gender }}";
			if($(this).html() == gender){
				$(this).attr('selected','selected');
			}
		});
		
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#blah').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#imgInp").change(function(){
			readURL(this);
		});
		
		$('.email_checkbox').click(function(){
	    	$('#can_receive_mail').val( $(this).is(':checked') ? 'True' : 'False' );
		})

	</script>

{% endblock %}
