
{% load static %}
{% load tag_extensions %}
{% load permissions %}
{% load_permissions at has_permission %}

{% static 'img/defaults/user.png' as no_avatar %}
{% static 'img/defaults/news.png' as no_news_banner %}
{% static 'img/noimage.png' as no_image %}
{% static 'img/defaults/no_banner.jpg' as no_banner %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VGList - Login - v0.2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/grid.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/button.css' %}">
        <link rel="stylesheet" href="{% static 'css/bases/overlay.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
        <link href="{% static 'icons/favicon.ico' %}" rel="icon" type="image/x-icon" />		
    </head>
    <body>

		<div class="loginbg" style="background-image: url('{% static 'img/homebg2.jpg' %}'); background-repeat: no-repeat; background-position: center;background-size:cover;">
			<div class="advice">
				<img src="{% static 'icons/warning.png' %}" /> <span id="message">{{ e }}</span>
			</div>
			<div class="login_content">
				<h1>VGList Project</h1>
				<div class="login_container" style="height:auto;">

					
					{% if controller_return == 1 %}

						<h2 style="color:#330066;font-size:24px;">Password was reset!</h2>
						<hr>
						<p>Finally! Now you can login to our wonderful world!</p>
					 	<form method="POST" action="{% url 'vglist.views.login' %}" style="margin-bottom:20px;">
							<input type="text" class="inptbootstraplike2" name="username" placeholder="username or email" />
							<input type="password" class="inptbootstraplike2" name="password" placeholder="password" />
							
							<input type="submit" class="btn2" value="Login" style="margin-top:15px;" />
						</form>

					{% elif controller_return == 2 %}

						<h2 style="color:#330066;font-size:24px;">Recovery code invalid</h2>
						<hr>
						<p>This recovery code seems to be invalid.</p>
						<p>Maybe you misspasted it on the browser bar? if not so...</p>
						<p>Wish to try again?</p>
					 	<a class="btn" style="margin-top:10px;" href="{% url 'vglist.views.request_recover_password' %}">Request recover again</a>.</p>

					{% elif controller_return == 3 %}

						<h2 style="color:#330066;font-size:24px;">Recovery code expired</h2>
						<hr>
						<p>This recovery code seems to have expired..</p>
						<p>Maybe you waited too long to change the password.</p>
						<p>Wish to try again?</p>
					 	<a class="btn" style="margin-top:10px;" href="{% url 'vglist.views.request_recover_password' %}">Request recover again</a>.</p>
					
					{% else %}

						<h2 style="color:#330066;font-size:24px;">Password reset</h2>
						<hr>
						<p>Type in here your new passord</p>
						<form method="POST" style="margin-bottom:20px; margin-top:20px;">

							<input type="hidden" name="hash" value="{{ hash }}"/>
							<input id="newpass" type="password" class="inptbootstraplike2" name="password" placeholder="New password"/>
							<input id="confirm" type="password" class="inptbootstraplike2" placeholder="Confirm password" />
							<input disabled id="saveit" type="submit" class="btn2" value="Save it" style="margin-top:15px;"/>
						
						</form>
						
					{% endif %}

					<div class="clear"></div>
					
				</div>
			</div>
		</div>
		
	</body>

	
	
	<script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/search.js' %}"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53231363-1', 'auto');
		ga('send', 'pageview');
	</script>
	
	<script src="{% static 'js/extensions/scroll_into_view.js' %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="{% static 'js/extensions/bootstrap-select.js' %}"></script>

	<script type="text/javascript">
		document.ready = function(e){

			$('#confirm, #newpass').change(function(e){
				
				var newpass = $('#newpass').val();
				var confirm = $('#confirm').val();

				if (newpass != confirm) {
					$("#message").html("Your passwords do not match!");
					$(".advice").fadeIn();
					$( "#saveit" ).prop( "disabled", true );
					
					return;
				}

				if (newpass.length < 6 || confirm.length < 6) {
					$("#message").html("Your password is too short!");
					$(".advice").fadeIn();
					$( "#saveit" ).prop( "disabled", true );
					
					return;
				}				
				
				$(".advice").hide();
				$( "#saveit" ).prop( "disabled", false);				
			})

			var error = '{{ error }}';
			if((error == '')){
			}
			else{
				if(error == '1'){
					$("#message").html("User/email or password not found!");
					$(".advice").fadeIn();
				}
				if(error == '2'){
					$("#message").html("User not active yet. Please check your email inbox for the activation link. If you can't find it, <a href=\"{% url 'vglist.views.resend_activation_email' %}?email={{ email }}\">click here</a> to resend it.");
					$(".advice").fadeIn();
				}
			}
		}

	</script>

</html>

