
{% load static %}
{% load tag_extensions %}
{% load permissions %}
{% load_permissions at has_permission %}

{% static 'img/defaults/user.png' as no_avatar %}
{% static 'img/defaults/news.png' as no_news_banner %}
{% static 'img/noimage.png' as no_image %}
{% static 'img/defaults/no_banner.jpg' as no_banner %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VGList - Login - v0.2</title>
        <meta name="description" content="VGList is a video games database and social network that you can list and rate the games that you played.
        wish to play or dropped.">
        <meta name="keywords" content="video game, video game social network, gamer, game list, gamer network,
        playstation, nintendo, sony, microsoft, linux, mac, steam, games, social games, game listed, indie games network,
        indie game, hardcore gaming, soft games, facebook games, gamer world, mainstream games, top games, ranking games,
        online games, new games, old games, atari, games generation, vglist, mygamelist">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/register.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/grid.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/button.css' %}">
        <link rel="stylesheet" href="{% static 'css/bases/overlay.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
        <link href="{% static 'icons/favicon.ico' %}" rel="icon" type="image/x-icon" />		
    </head>
    <body>

		<div class="registerbg" style="background-image: url('{% static 'img/home2.jpg' %}'); background-repeat: no-repeat; background-position: center;background-size:cover;">
			<div class="advice">
				<img src="{% static 'icons/warning.png' %}" /> <span id="message">{{ e }}</span>
			</div>
			<div class="register_content">
				<h1>VGList Project</h1>
				<div class="register_container">
					<h2 style="color:#330066;font-size:24px;">CREATE AN ACCOUNT</h2>
					<hr>
					<div class="left">
						<form method="POST">
							<input type="text" class="inptbootstraplike2" name="username" placeholder="Username" />
							<input type='email' placeholder="Type your email" name='email' class="inptbootstraplike2">
							<input type="password" class="inptbootstraplike2" name="password" placeholder="Password" id="pswd0" />
							<input type='password' placeholder="Confirm your password" name='confirm_password' class="inptbootstraplike2" id="pswd1" onChange="checkPasswordMatch();">
							<input type="hidden" name="can_receive_mail" id="can_receive_mail" value="True" />
							<br>
							<div>
								<input type="checkbox" class="email_checkbox" checked />
								<label> I would like to receive cool emails from VGList with the VGList Newsletter! </label>
							</div>

							<input type="submit" class="btn2" value="Create Account" style="margin-top:15px;" />
						</form>
						<p>Already a member? <a href="{% url 'vglist.views.login' %}">Login here</a>.</p>
					</div>
					<div class="right">
						<h3>Welcome to VGList, fellow stranger =)</h3>
						<p>Here you can create a new VGList account. Please, notice that we'll sent you an email to the address
						that you entered on your registration form. In order to login for the first time, you need to click on the
						confirmation link that is on the email.</p>
					</div>
				</div>
			</div>
		</div>
		
	</body>
	
	<script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/search.js' %}"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53231363-1', 'auto');
		ga('send', 'pageview');
	</script>
	
	<script src="{% static 'js/extensions/scroll_into_view.js' %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="{% static 'js/extensions/bootstrap-select.js' %}"></script>

	<script type="text/javascript">
		function checkPasswordMatch() {
			var password = $("#pswd0").val();
			var confirmPassword = $("#pswd1").val();
			var first=0;
			if (password != confirmPassword){
				if(first == 0){
					$(".advice").fadeIn();
				}
				
				$("#message").html("Your passwords do not match!");
				first = 1;
			}
			else{
				$(".advice").fadeOut();
				first = 0;
			}
		}


		document.ready = function(){
			var error = '{{ error }}';
			if((error == '')){
			}
			else{
				if(error == '-1'){
					$("#message").html("User/email or password not found!");
					$(".advice").fadeIn();
				}
				
				if(error == '1'){
					$("#message").html("User already exists!");
					$(".advice").fadeIn();
				}
				if(error == '2'){
					$("#message").html("Registration form incomplete, you need to fill all the inputs (that's what she said).");
					$(".advice").fadeIn();
				}
				if(error == '3'){
					$("#message").html("Password not secure enough!");
					$(".advice").fadeIn();
				}
				if(error == '4'){
					$("#message").html("Username already exists!");
					$(".advice").fadeIn();
				}
			}
			return true;
		}
		$('.email_checkbox').click(function(){
	    	$('#can_receive_mail').val( $(this).is(':checked') ? 'True' : 'False' );
		})
		


	</script>

</html>

