{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}
{% load inaccurate_date %}

{% block title %}{{ block.super }} - Search{% endblock %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block base %}
	<div class="container">
		<form METHOD="GET" id="searchPage_main">
			<div class="search_header">
					<div class="searchpage_form">
						<div class="left_search">
							<input type="text" id="search_query" name="key" placeholder="Type your search here..." />
							<div class="search_magnifier"><img src="{% static 'icons/magnifier.png' %}" onclick='document.getElementById("searchPage_main").submit();'></div>
							<div class="typeofsearch_select">
								<select id="typeofsearch" name="q">
									<option value="game">Games</option>
									<option value="studio">Studio</option>
									<option value="user">Users</option>
									<option value="platform">Platform</option>
								</select>
							</div>
						</div>
						
						<div class="right_search">
							<a onClick="showAdvSearch($('#typeofsearch :selected').val());" style="font-size:15px;">Search Filters <img src="{% static 'icons/adv_search.png' %}" /></a>
						</div>
					</div>
				</div>

		
			<div class="col-md-12 description">
				<div class="advanced_search">
					<br />
					<h3>Filters:</h3>
					
					<!-- Other types of filters go here -->
					
					<div class="adv_user">
						<label>By Gender:</label>
						<select name="gender" id="gender_filter" disabled>
							<option value="5" selected>Any</option>
							<option value="1">Male</option>
							<option value="2">Female</option>
							<option value="3">Other</option>
							<option value="0">Not Set</option>
						</select>
						<input type="submit" value="Advanced Search" style="background-image: url({% static 'icons/advsearch_thumb.png' %});" />
					</div>
					
					<div class="adv_platform">
						<label>By Manufacturer:</label>

						<input type="text" id="manufacturer_search">
						&nbsp;

						<input type="submit" value="Advanced Search" style="background-image: url({% static 'icons/advsearch_thumb.png' %});" />
					</div>
					
					<div class="adv_game">
						<table class="search_filters">
							<tr>
								<td>
									<label>Released After:</label>
								</td>
								<td>
									<input type="text" name="min_year" placeholder=" - Year -" style="width:62px;"/> / 
									
									<select id="month" name="min_month">
										<option value="00">- Month -</option>
										<option value="00">Unknown</option>
										<option value="01">January</option>
										<option value="02">February</option>
										<option value="03">March</option>
										<option value="04">April</option>
										<option value="05">May</option>
										<option value="06">June</option>
										<option value="07">July</option>
										<option value="08">August</option>
										<option value="09">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>				
									</select> / 
									
									<input type="text" name="min_day" placeholder=" - Day - " style="width:62px;" />
								</td>
							</tr>
							<tr>
								<td>
									<label>Released Before:</label>
								</td>
								<td>
									<input type="text" name="max_year" placeholder=" - Year -" style="width:62px;"/> / 
							
									<select id="month" name="max_month">
										<option value="00">- Month -</option>
										<option value="00">Unknown</option>
										<option value="01">January</option>
										<option value="02">February</option>
										<option value="03">March</option>
										<option value="04">April</option>
										<option value="05">May</option>
										<option value="06">June</option>
										<option value="07">July</option>
										<option value="08">August</option>
										<option value="09">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>				
									</select> /
									
									<input type="text" name="max_day" placeholder=" - Day - " style="width:62px;" />
								</td>
							</tr>
							<tr>
								<td>
									<label>By Platform:</label>
								</td>
								<td>
									<input type="text" id="platform_filter">
								</td>
							</tr>
							<tr>
								<td>
									<label>By Developer:</label>
								</td>
								<td>
									<input type="text" id="developer_filter">
								</td>
							</tr>
							<tr>
								<td>
									<label>By Publisher:</label>
								</td>
								<td>
									<input type="text" id="publisher_filter">
								</td>
							</tr>
							<tr>
								<td>
									<input type="submit" value="Advanced Search" style="background-image: url({% static 'icons/advsearch_thumb.png' %});" />
								</td>
							</tr>
						</table>
					</div>
				</div>
			</form>
			
			<div class="search_paginator">
				<div class="rpp_container">
					<label>Results per Page: </label>
					<select class="rpp" id="rpp">
						<option value="5">5</option>
						<option value="20">20</option>
						<option value="100">100</option>
					</select>
				</div>
				<div class="search_paginator_container">
					<ul class="nav nav-pills">
						<li style="padding-left:1px;padding-right:1px;"><a class="label" style="padding-left:1px;padding-right:1px;"><b>Pages: </b></a></li>
						{% if result.has_prev_page %}
							<li><a onClick="newUrl('{{ request.get_full_path }}','{{ result.prev_offset }}', 'offset');"> < </a></li>
						{% else %}
							<li><a> < </a></li>
						{% endif %}
						{% if result %}
							{% for i in browser.get_pages %}
								{% for j in i %}
									{% if result.cur_page|add:1 == j.page %}
										<li class="active"><a>{{ j.page }}</a></li>
									{% else %}
										<li><a onClick="newUrl('{{ request.get_full_path }}', '{{ j.offset }}', 'offset')">{{ j.page }}</a></li>
									{% endif %}
								{% endfor %}
								{% if not forloop.last %}
									<li><a>...</a></li>								
								{% endif %}
							{% endfor %}
						{% else %}
							<li class="active"><a>1</a></li>
						{% endif %}
						{% if result.has_next_page %}
							<li><a onClick="newUrl('{{ request.get_full_path }}','{{ result.next_offset }}', 'offset');"> > </a></li>
						{% else %}
							<li><a>></a></li>
						{% endif %}
					</ul>				
				</div>
			</div>
			
			<div class="search_results">
				{% if key %}
					<h1>Search results for: {{ key }} </h1>
				{% else %}
					<h1>Showing all entries on type: {{ q }}</h1>
				{% endif %}
				<hr />
				<div class="results_container">
					{% if result %}
						{% if q == "user" %}
								{% for i in result %}
									<a href="{% url 'vglist.views.profile' i.username %}">
										<div class="result_entry">
											<div class="result_entry_img">
												<img src="{{ i.avatar|default:no_avatar }}">
											</div>
											<div class="result_entry_text">
												<div class="title">
													<h2>{{ i.username }}</h2>
													<hr style="margin:0; padding:0; margin-bottom:2px;margin-top:2px;" />
												</div>
												<div class="extra_info">
													Member Since: {{ i.join_time }} |  
													Gender: {{ i.gender }}
												</div>
												<div class="synopsis">
													{% if i.bio %}
														{% if i.bio|length > 600 %}
															{{ i.bio|slice:":600" }}...
														{% else %}
															{{ i.bio }}
														{% endif %}
													{% else %}
														{{ i.username }} doesn't have a profile bio yet...
													{% endif %}
												</div>
											</div>
											<div class="clear-both"></div>
										</div>
									</a>
								{% endfor %}
								
						{% elif q == "studio" %}
								{% for i in result %}
									<a href="{% url 'vglist.views.studio' i.id %}">
										<div class="result_entry">
											<div class="result_entry_img">
												<img src="{{ i.image.regular|default:no_image }}">
											</div>
											<div class="result_entry_text">
												<div class="title">
													<h2>{{ i.name }}</h2>
													<hr style="margin:0; padding:0; margin-bottom:2px;margin-top:2px;" />
												</div>
												<div class="extra_info">
													Description Source: {% if i.synopsis.name %} {{ i.synopsis.name }} {% else %} Not Set {% endif %}
												</div>
												<div class="synopsis">
													{% if i.synopsis.text %}
														{% if i.synopsis.text|length > 600 %}
															{{ i.synopsis.text|slice:":600" }}...
														{% else %}
															{{ i.synopsis.text }}
														{% endif %}
													{% else %}
														{{ i.name }} doesn't have a description yet...
													{% endif %}
												</div>
											</div>
											<div class="clear-both"></div>
										</div>
									</a>
								{% endfor %}
							
						{% elif q == "platform" %}
								{% for i in result %}
									<a href="{% url 'vglist.views.platform' i.id %}">
										<div class="result_entry">
											<div class="result_entry_img">
												<img src="{{ i.image.regular|default:no_image }}">
											</div>
											<div class="result_entry_text">
												<div class="title">
													<h2>{{ i.name }}</h2>
													<hr style="margin:0; padding:0; margin-bottom:2px;margin-top:2px;" />
												</div>
												<div class="extra_info">
													Manufacturer: {% if i.manufacturer.id %}{{ i.manufacturer.name }}{% else %} Not Set{% endif%}
													| 
													Description Source: {% if i.synopsis.name %} {{ i.synopsis.name }} {% else %} Not Set {% endif %}
												</div>
												<div class="synopsis">
													{% if i.synopsis.text %}
														{% if i.synopsis.text|length > 600 %}
															{{ i.synopsis.text|slice:":600" }}...
														{% else %}
															{{ i.synopsis.text }}
														{% endif %}
													{% else %}
														{{ i.name }} doesn't have a description yet...
													{% endif %}
												</div>
											</div>
											<div class="clear-both"></div>
										</div>
									</a>
								{% endfor %}
							
						{% elif q == "game" %}
								{% for i in result %}
									<a href="{% url 'vglist.views.game' i.id.global i.id.local %}">
										<div class="result_entry">
											<div class="result_entry_img">
												<img src="{{ i.boxart.regular|default:no_image }}" />
											</div>
											<div class="result_entry_text">
												<div class="title">
													<h2>{{ i.name }}
														&nbsp;
														{% if i.score %}
															{% if i.score > 0 %}
																{% if i.score < 10 %}
																	<img class="star" src="{% static 'icons/star_half.svg' %}" />
																{% else %}
																	<img class="star" src="{% static 'icons/star.svg' %}" />
																{% endif %}
															{% else %}
																<img class="star" src="{% static 'icons/star_empty.svg' %}" />
															{% endif %}
															
															{% if i.score > 20 %}
																{% if i.score < 30 %}
																	<img class="star" src="{% static 'icons/star_half.svg' %}" />
																{% else %}
																	<img class="star" src="{% static 'icons/star.svg' %}" />
																{% endif %}
															{% else %}
																<img class="star" src="{% static 'icons/star_empty.svg' %}" />
															{% endif %}
															
															{% if i.score > 40 %}
																{% if i.score < 50 %}
																	<img class="star" src="{% static 'icons/star_half.svg' %}" />
																{% else %}
																	<img class="star" src="{% static 'icons/star.svg' %}" />
																{% endif %}
															{% else %}
																<img class="star" src="{% static 'icons/star_empty.svg' %}" />
															{% endif %}
															
															{% if i.score > 60 %}
																{% if i.score < 70 %}
																	<img class="star" src="{% static 'icons/star_half.svg' %}" />
																{% else %}
																	<img class="star" src="{% static 'icons/star.svg' %}" />
																{% endif %}
															{% else %}
																<img class="star" src="{% static 'icons/star_empty.svg' %}" />
															{% endif %}
															
															{% if i.score > 80 %}
																{% if i.score < 90 %}
																	<img class="star" src="{% static 'icons/star_half.svg' %}" />
																{% else %}
																	<img class="star" src="{% static 'icons/star.svg' %}" />
																{% endif %}
															{% else %}
																<img class="star" src="{% static 'icons/star_empty.svg' %}" />
															{% endif %}
															
															{% else %}
																<img class="star" src="{% static 'icons/star_empty.svg' %}" />
																<img class="star" src="{% static 'icons/star_empty.svg' %}" />
																<img class="star" src="{% static 'icons/star_empty.svg' %}" />
																<img class="star" src="{% static 'icons/star_empty.svg' %}" />
																<img class="star" src="{% static 'icons/star_empty.svg' %}" />
														{% endif %}
														
													</h2>
													<hr style="margin:0; padding:0; margin-bottom:2px;margin-top:2px;" />
												</div>
												<div class="extra_info">
													<img src="{% static 'icons/calendar.png' %}" style="max-width:14px; opacity:0.5;margin-top:-2px;" />
													Release Date:
														{% if i.release_date %} 
															{% inaccurate_date i.release_date "%d %b, %Y" "%B %Y" "%Y" %} 
														{% else %} 
															Unknown 
														{% endif %}
													|
													<img src="{% static 'icons/games.png' %}" style="max-width:16px; opacity:0.5;margin-top:-2px;"  />
													Publishers:
														{% if i.publishers %}
															{% for pub in i.publishers %}
																{% if forloop.last %}
																	{{ pub.name }}
																{% else %}
																	{{ pub.name }} | 
																{% endif %}
															{% endfor %} 
														{% else %}
															Unknown
														{% endif %}
													|
													<img src="{% static 'icons/games.png' %}" style="max-width:16px; opacity:0.5;margin-top:-2px;" />
													Developers:
														{% if i.developers %}
															{% for i in i.developers %}
																{% if forloop.last %}
																 {{ i.name }}
																{% else %}
																	{{ i.name }} |
																{% endif %}
															{% endfor %} <br />
														{% else %}
															Unknown
														{% endif %}

												</div>
												<div class="synopsis">
													{% if i.game_global.synopsis.body %}
														{% if i.game_global.synopsis.body|length > 600 %}
															{{ i.game_global.synopsis.body|slice:":600" }}...
														{% else %}
															{{ i.game_global.synopsis.body }}
														{% endif %}
													{% else %}
														{{ i.name }} doesn't have a description yet...
													{% endif %}
												</div>
											</div>
											<div class="clear-both"></div>
										</div>
									</a>
								{% endfor %}
							{% endif %}	
							
						{% else %}
						<div class="result_entry">
							<b><center>Sadly, your request returned no results... Are you sure that you typed it correctly?</center></b>
						</div>
					{% endif %}
				</div>
			</div>
			<div class="search_paginator">
				<div class="search_paginator_container">
					<ul class="nav nav-pills">
						<li style="padding-left:1px;padding-right:1px;"><a class="label" style="padding-left:1px;padding-right:1px;"><b>Pages: </b></a></li>
						{% if result.has_prev_page %}
							<li><a onClick="newUrl('{{ request.get_full_path }}','{{ result.prev_offset }}', 'offset');"> < </a></li>
						{% else %}
							<li><a> < </a></li>
						{% endif %}
						{% if result %}
							{% for i in browser.get_pages %}
								{% for j in i %}
									{% if result.cur_page|add:1 == j.page %}
										<li class="active"><a>{{ j.page }}</a></li>
									{% else %}
										<li><a onClick="newUrl('{{ request.get_full_path }}', '{{ j.offset }}', 'offset')">{{ j.page }}</a></li>
									{% endif %}
								{% endfor %}
								{% if not forloop.last %}
									<li><a>...</a></li>								
								{% endif %}
							{% endfor %}
						{% else %}
							<li class="active"><a>1</a></li>
						{% endif %}
						{% if result.has_next_page %}
							<li><a onClick="newUrl('{{ request.get_full_path }}','{{ result.next_offset }}', 'offset');"> > </a></li>
						{% else %}
							<li><a>></a></li>
						{% endif %}
					</ul>				
				</div>
			</div>
			
		</div>
	</div>

{% endblock base %}

{% block javascript %}
	{{ block.super }}
	<script src="{% static 'js/input_preview_search.js' %}"></script>
	<script src="{% static 'js/extensions/prefix_search.js' %}"></script>

	<script>
		
		$(document).ready(function(){
			$('#rpp option[value="{{ rpp }}"]').attr("selected", "selected")
			$('#typeofsearch option[value="{{ q }}"]').attr("selected", "selected")
			$('#search_query').val('{{ key }}');
		});
		
		function newUrl(cur, new_param, change){
			if(change == "offset"){
				cur = cur.split("&offset=");
				var url = cur[0] + "&offset=" + new_param;
			}
			if(change == "rpp"){
				cur = cur.split("&rpp=");
				var url = cur[0] + "&rpp=" + new_param + "&offset={{ result.offset }}";
			}
			
			window.location = url;
			
		}
		advsearch = false;
		function showAdvSearch(type){
			advsearch = true;
			if(type=="user"){
				$('.advanced_search').fadeIn();
				$('#gender_filter').removeAttr('disabled');
				$('.adv_user').fadeIn();
			}
			if(type=="platform"){
				$('.advanced_search').fadeIn();
				$('input[name="manufacturer"]').removeAttr('disabled');
				$('.adv_platform').fadeIn();
			}
			if(type=="game"){
				$('.advanced_search').fadeIn();
				$('input[name="platform"]').removeAttr('disabled');
				$('input[name="developer"]').removeAttr('disabled');
				$('input[name="publisher"]').removeAttr('disabled');
				$('.adv_game').fadeIn();
			}
			return true
		}
		
		$('.rpp').change(function(){
			newUrl('{{ request.get_full_path }}', $('.rpp').val(), 'rpp');
		});
		
		$('#typeofsearch').change(function(){
			if(advsearch){
				$('.adv_user').fadeOut();
				$('#gender_filter').attr('disabled','disabled');
				$('input[name="manufacturer"]').attr('disabled','disabled');
				$('input[name="platform"]').attr('disabled','disabled');
				$('input[name="developer"]').attr('disabled','disabled');
				$('input[name="publisher"]').attr('disabled','disabled');
				$('.adv_platform').fadeOut();
				$('.adv_game').fadeOut();
				
				showAdvSearch($('#typeofsearch :selected').val());
			}
		});
		
		//On input manufacturer search
		var url = "{% url 'vglist.views.studio' 0 %}"
		$("#manufacturer_search").prefix_search("{% url 'vglist.views.studios_by_prefix' %}",{'name': 'manufacturer',
			'initial_item': {
				'pk': '{{ platform.manufacturer_id|default:0 }}',
				'name': '{{ platform.manufacturer.name|default:"Any" }}',
			},
			'extra_items': [
				{
					'pk': '0',
					'name': 'Unknown',
				}
			],
			'span_content': "<a href='" + url.replace(/0/g,"%id%") + "' target='__blank'> %name%"});
		
		//On input developer search
		var url = "{% url 'vglist.views.studio' 0 %}"
		$("#developer_filter").prefix_search("{% url 'vglist.views.studios_by_prefix' %}",{'name': 'developer',
			'initial_item': {
				'pk': '{{ platform.manufacturer_id|default:0 }}',
				'name': '{{ platform.manufacturer.name|default:"Any" }}',
			},
			'extra_items': [
				{
					'pk': '0',
					'name': 'Any',
				}
			],
			'span_content': "<a href='" + url.replace(/0/g,"%id%") + "' target='__blank'> %name%"});
			
		//On input publisher search
		var url = "{% url 'vglist.views.studio' 0 %}"
		$("#publisher_filter").prefix_search("{% url 'vglist.views.studios_by_prefix' %}",{'name': 'publisher',
			'initial_item': {
				'pk': '{{ platform.manufacturer_id|default:0 }}',
				'name': '{{ platform.manufacturer.name|default:"Any" }}',
			},
			'extra_items': [
				{
					'pk': '0',
					'name': 'Any',
				}
			],
			'span_content': "<a href='" + url.replace(/0/g,"%id%") + "' target='__blank'> %name%"});
		
		//Game filter by platform search input	
		var url = "{% url 'vglist.views.platform' 0 %}"
		$("#platform_filter").prefix_search("{% url 'vglist.views.platforms_by_prefix' %}",{'name': 'platform',
			'initial_item': {
				'pk': '{{ game.console|default:0 }}',
				'name': '{{ game.console.name|default:"Any" }}',
			},
			'extra_items': [
				{
					'pk': '0',
					'name': 'Any',
				}
			],
			'span_content': "<a href='" + url.replace(/0/g,"%id%") + "' target='__blank'> %name%"});


	</script>
{% endblock %}
