{% extends "web/vglist/base.html" %}

{% load static %}

{% block title %}{{ block.super }} - About {% endblock %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/staff.css' %}">
{% endblock %}


{% block base %}
		<div class="container">
			<div class="description">
				<h1>VGList Staff:</h1>
				<p>VGList is brought to you by these few hard-worker people listed below. Drop by and say hello, most of them are friendly!</p>
				<hr />
				{% for i in stats.staff %}
					<h3>{{ i.role }}</h3>
					<div class="staff_entry" onClick="window.location = '{% url 'vglist.views.profile' i.user.username %}';">
						<img src="{{ i.user.avatar|default:no_avatar }}" />
						<span>{{ i.user.username }}</span>
					</div>					
						
					<br />
				{% endfor %}
			</div>
		</div>
{% endblock base %}


