#screen
{
	opacity: 0;
	background-color: rgba(0,0,0,0.4);
	
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	
	pointer-events: none;
	
	padding: 40px;
	
	z-index: 9999;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#screen.show
{
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	
	-webkit-animation-name: fade_in;
	-moz-animation-name: fade_in;
	-o-animation-name: fade_in;
	animation-name: fade_in;
	
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	
	pointer-events: auto !important;
}

#screen.hide
{
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	
	-webkit-animation-name: fade_out;
	-moz-animation-name: fade_out;
	-o-animation-name: fade_out;
	animation-name: fade_out;
	
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	
	pointer-events: none;
}

#screen > div
{
	margin-left: auto;
	margin-right: auto;
	
	max-height: 100%;
	max-width: 100%;
}

#screen.show > div
{
	pointer-events: auto;
}

@keyframes fade_in
{
	from
	{
		opacity: 0;
	}
	
	to
	{
		opacity: 1;
	}
}

@keyframes fade_out
{
	from
	{
		opacity: 1;
	}
	
	to
	{
		opacity: 0;
	}
}

@-webkit-keyframes fade_in
{
	from
	{
		opacity: 0;
	}
	
	to
	{
		opacity: 1;
	}
}

@-webkit-keyframes fade_out
{
	from
	{
		opacity: 1;
	}
	
	to
	{
		opacity: 0;
	}
}

@-moz-keyframes fade_in
{
	from
	{
		opacity: 0;
	}
	
	to
	{
		opacity: 1;
	}
}

@-moz-keyframes fade_out
{
	from
	{
		opacity: 1;
	}
	
	to
	{
		opacity: 0;
	}
}

@-o-keyframes fade_in
{
	from
	{
		opacity: 0;
	}
	
	to
	{
		opacity: 1;
	}
}

@-o-keyframes fade_out
{
	from
	{
		opacity: 1;
	}
	
	to
	{
		opacity: 0;
	}
}
