.add_to_list_button > img{
	max-width:14px;
	margin-top:-3px;
	padding-left:5px;
}


.add_to_list_overlay{
	width:600px;
	background-color: #ffffff;
	padding: 25px 40px;
	padding-top: 30px;
	min-height:325px;
	margin: 0 auto;
	
	border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.add_to_list_overlay > p{
	text-align:justify;
	padding-bottom:20px;
	font-size:16px;
}

.add_to_list_overlay > form > table{
	width:100%;
}

.add_to_list_overlay tr{
	text-align:left;
	height:50px;
}

.label{
	text-align:left;
	padding-left:15px;
	font-size:17px;
	width:90px;
}

.input{
	text-align:left;
}

.add_to_list_overlay .row{
	text-align:center;
	margin-top:40px;
	margin-bottom:10px;

}

.score-show{
	border:1px solid #BFBFBF;
	background-color:transparent;
	position:absolute;
	font-size:16px;
	color:#8A8A8A;
	margin-top:-4px;
	margin-left:7px;
	width:30px;
	text-align:center;
}

select{
	height:30px;
	width:405px;
	border:1px solid #979797;
	border-radius:3px;
	background-color:#644F75;
	color:white;
}

.bootstrap-select > .btn {
	width:200px !important;
	padding-top:7px;
}

.bootstrap-select {
	width: 200px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}
