.footer{
	margin-top:20px;
    position:relative;
    left:0;
    bottom:0px;
    height:65px;
    width:100%;
    color:#16002c;
	width:100%;
	background-color:#CEC1DB;
	overflow:hidden;
	font-family:"Signika Negative", "sans-serif";
	border-top:1px solid #ccc;
	text-align:center;
	font-weight:300;

}

.footer > h2{
	font-weight:bold;
	font-size:21px;
	letter-spacing:-1px;
	color:#16002c;
	margin-top:12px;
}

.footer > p{
	margin-top:-7px;
		font-weight:300;

}

.footer > p > a{
	color:#16002c;
	font-size:13px;
	font-weight:300;

}

.footer > .footer_shortcuts{
	padding:10px;
	padding-top:6px;
	padding-bottom:8px;
}

.footer > .footer_shortcuts > a{
	margin-left:10px;
	color:#16002c;
	font-size:16px;
		font-weight:300;

}


.footer > .footer_shortcuts > a:first-child{
	color: #16002c;
	font-size:16px;
	margin-left:0;
		font-weight:300;

}

.footer > .footer_shortcuts > a:hover;{
	text-decoration: underline;	
}

.footer > .footer_shortcuts > .footer_bullet{
	font-size:20px;
	color:#16002c;

}
