.friends_container{
	margin-left:auto;
	margin-right:auto;
	min-height:150px;
}


.friends_container > .friend_entry:nth-child(1){
	border-top:1px solid #bed1d1;
}

.friends_container > .friend_entry{
	background-color:#fff;
	border-bottom:1px solid #bed1d1;
	border-collapse:collapse !important;
	padding:20px;
}

.friends_container > .friend_entry:hover{
	background-color:#efedf1;
	cursor:pointer;
}

.friends_container > .friend_entry > img{
	max-width:60px;
	max-height:60px;
	box-shadow: 0px 0px 2px #888;
	margin-right:20px;
}

.friends_container > .friend_entry > span{
	font-size:18px;
	font-weight:300;

}
.friends_container > .friend_entry > span > a > img{
	max-height:18px;
	margin-right:4px;
	margin-top:-3px;
}
