.header{
	position:absolute;
	width:100%;
	margin-top:0;
	height:50px;
	color:#fff;
	background-color:#644F75;
	z-index:100;
	min-width:1200px;
	font-family:"Signika Negative", "sans-serif";
}

.header_placeholder{
	height:60px;
	margin-top:0;
	margin-bottom:10px;
	width:100%;
}

.header > .logo{
	position:absolute;
	height:100%;
	width:220px;
}

.header > .logo > h1{
	font-size:29px;
	padding:0;
	margin-top:11px;
	font-weight:bolder;
	letter-spacing:-2px;
	line-height:100%;
	margin-left:20px;
	-webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    cursor:default;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.header > .logo > h1:hover{
	cursor:pointer;
	text-shadow: 0px 0px 8px rgba(255,255,255,0.4);
	padding-left:1px;
}

.header > .logo > h1:active{
	padding-left:1px;
	padding-top:1px;
}


.header > a > .panel_menu_container{
	height:100%;
	width:150px;
	float:right;
	margin-right:10px;
}

.header > a > .panel_menu_container:hover{
	background-color:#826798;
	cursor:pointer;
	height:52px;
	box-shadow:0px 0px 1px black;
}

.header > a > .panel_menu_container > .panel_menu{
	width:auto;
	height:auto;
}

.header > a > .panel_menu_container > .panel_menu > h2{
	font-size:16px;
	font-weight:semibold;
	letter-spacing:-0.03em;
	line-height:100%;
	margin-top:18px;
	text-align:center;
	cursor:pointer;
	color:white;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.header > .contribute_menu_container{
	height:100%;
	width:150px;
	float:right;
	margin-right:10px;
}

.header > .contribute_menu_container:hover{
	background-color:#826798;
	cursor:pointer;
	height:52px;
	box-shadow:0px 0px 1px black;
}

.header > .contribute_menu_container > .contribute_menu{
	width:auto;
	height:auto;
}

.header > .contribute_menu_container > .contribute_menu > h2{
	font-size:16px;
	font-weight:semibold;
	letter-spacing:-0.03em;
	line-height:100%;
	margin-top:18px;
	text-align:center;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}



/*

	CONTRIBUTE MENU DROPDPWN

*/



.header > .contribute_menu_container > .contribute_dropdown{
	background-color:#644F75;
	padding:20px;
	float:right;
	display:none;
	width: 200px;/*change this later*/

}

.header > .contribute_menu_container > .contribute_dropdown > p{
	font-size:17px;
	font-weight:semibold;
	letter-spacing:-0.03em;
	line-height:100%;
	width:100%;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.header > .contribute_menu_container > .contribute_dropdown > p:hover{
	position:relative;
	/*background-color:#fff;*/
	/*color:#644f75;*/
	left:5px;
}

.header > .contribute_menu_container > .contribute_dropdown > p:active{
	color:#b3d4fc;
}

.header > .contribute_menu_container > .contribute_dropdown > p > img{
	max-height:20px;
	padding-right:7px;
	margin-top:-4px;
}

.header > .contribute_menu_container > .contribute_dropdown > .contribute_drop_hr{
	height:2px;
	background-color:white;
	width:100%;
	margin-top:5px;
	margin-bottom:7px;
}

.header > .contribute_menu_container > .contribute_dropdown_safetymousearea{
	width:100%;
	height:17px;
	right:0px;
	top:90px;
	float:left;
	margin-top:5px;
	cursor: normal;
}

.header > .contribute_menu_container > .contribute_dropdown_safetymousearea > .contribute_arrow{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 14px solid #644F75;	
	margin-top:5px;
	float:right;
	margin-right:4px;
	display:none;
}


/*	END CONTRIBUTE MENU DROPDPWN */








.header > .search_area{
	height:100%;
	width:400px;
	float:right;
	line-height:100%;
	padding-top:11px;
	padding-right:5px;
	padding-left:5px;
}

.header > .search_area > form > input[type='search']{
	font-family:'Signika Negative', 'sans-serif';
	height:22px;
	line-height:22px;
	width:200px;
	font-weight:300;
	font-size:14px;
	border:none;
	padding:3px;
	margin:0;
	padding-left:6px;
	float:left;
	background-color:white;
}

.header > .search_area > form > .header_search_magnifier{
	height:28px;
	width:28px;
	float:left;
	background-color:white;
}

.header > .search_area > form > .header_search_magnifier > img{
	height:22px;
	width:22px;
	margin-top:3px;
}

.header > .search_area > form > .header_search_magnifier > img:hover{
	cursor:pointer;
}

.header > .search_area > form > .searchtype{
	width:100px;
	background-color:#493868;
	height:28px;
	float:left;
	text-align:center;
	cursor:pointer;
}

.header > .search_area > form > .searchtype_arrow{
	border-color: #493868 transparent;
	border-style: solid;
	border-width: 12px 6px 0px 10px;
	height: 0px;
	width: 0px;
	float:left;
	margin-top:25px;
	margin-left:-28px;
}

.header > .search_area > form > .searchtype > .searchtype_selected{
	font-weight:bold;
	color:white;
	font-size:15px;
	padding-top:8px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor:pointer;
}

.header > .search_area > form > .searchtype_drop{
	background-color:#493868;
	height:98px;
	width:96px;
	position:absolute;
	margin-left:235px;
	margin-top:35px;
	box-shadow:0px 1px 1px black;
	display:none;
	padding-top:3px;

}

.header > .search_area > form > .searchtype_drop > .searchtype_option{
	padding-top:4px;
	padding-bottom:4px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:white;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

}

.header > .search_area > form > .searchtype_drop > .searchtype_option:hover{
	background-color:#826798;
	padding-left:2px;
}

.header > .search_area > form > .searchtype_drop > .searchtype_drop_hr{
	background-color:white;
	height:2px;
	width:75px;
	margin-left:12px; 
}

.header > .user_area_container{
	height:auto;
	width:auto;
	cursor:pointer;
}

.header > .user_area_container > .user_area{
	background-color:transparent;
	float:right;
	height:40px;
	width:auto;
	min-width:200px;
	max-width:300px;
}

.header > .user_area_container > .user_area:hover{
	background-color:#826798;
	cursor:pointer;
	box-shadow:0px 0px 1px black;
	height:42px;

}

.header > .user_area_container > .user_area_notlogged{
	float:right;
	height:60px;
	width:150px;
	margin-right:30px;
	font-family:"Signika Negative","sans-serif";
}

.header > .user_area_container > .user_area_notlogged > .notlogged_menu{
	padding-top:15px;
	text-align:center;
}

.header > .user_area_container > .user_area_notlogged > .notlogged_menu > a{
	font-weight:bold;
	font-size:16px;
	color:white;
	text-decoration:none !important;
}

.header > .user_area_container > .user_area_notlogged > .notlogged_menu > a:hover{
	font-weight:bold;
	color:white;
	text-decoration:underline !important;
}

.header > .user_area_container > .user_area_notlogged > .notlogged_menu > a:active{
	margin-top:2px;

}

.header > .user_area_container > .user_area_notlogged > .login_dropdown{
	background-color:#644F75;
	height:215px;
	width:180px;
	margin-top:13px;
	margin-right:-20px;
	float:right;
	display:none;
	cursor:default;
	text-align:center;
	padding:15px;
	color:white;
}
.header > .user_area_container > .user_area_notlogged > .login_dropdown > .login_dropdown_header{
	background-color:#493868;
	color:white;
}

.header > .user_area_container > .user_area_notlogged > .login_dropdown > .login_dropdown_header > h3{
	font-weight:300;
	color:white;
}

.header > .user_area_container > .user_area_notlogged > .login_dropdown > p{
	font-weight:300;
	font-size:14px;
}

.header > .user_area_container > .user_area_notlogged > .login_dropdown > form > input[type="text"]{
	border:none;
	margin-bottom:3px;
	height:30px;
	margin-top:10px;
	padding:5px;
	width:120px !important;
	font-size:15px;
}
.header > .user_area_container > .user_area_notlogged > .login_dropdown > form > input[type="password"]{
	border:none;
	margin-bottom:3px;
	height:30px;
	width:120px !important;
	padding:5px;
	font-size:15px;
}

.login_dropdown a{
	color:white;
}

.login_dropdown a:hover{
	color:white;
}



.header > .user_area_container > .user_area_notlogged > .login_dropdown > form > input[type="submit"]{
	background-color:#493868 !important;
	margin-top:10px;
	font-size:16px !important;
	height:30px;
	width:120px !important;
	padding-top:5px;
	color:white;
	margin-bottom:10px;
}

.header > .user_area_container > .user_area_notlogged > .login_dropdown > form > input[type="submit"]:hover{
	background-color:#330066 !important;
	margin-top:10px;
	color:white;
}

.header > .user_area_container > .user_area_arrow{
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 21px solid #644F75;	
	position:absolute;
	right:34px;
	top:40px;
	z-index:-10;
}

.header > .user_area_container > .user_area > .username{
	width:auto;
	min-width:100px;
	max-width:180px;
	overflow:hidden;
	height:100%;
	text-align:right;
	float:right;
	padding-left:25px;

}

.header > .user_area_container > .user_area > .username > h3{
	font-size:17px;
	text-align:right;
	font-weight:semibold;
	letter-spacing:-0.03em;
	line-height:100%;
	margin-top:17px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.header > .user_area_container > .user_area > .avatar{
	min-width:100px;
	max-width:100px;
	height:35px;
	line-height:35px;
	float:right;
	padding-top:6px;
	text-align:center;
}

.header > .user_area_container > .user_area > .avatar > img{
	max-height:42px;
	max-width:42px;
	line-height:45px;
	background-color:gray;
}



/*	user_dropdown_menu*/



.header > .user_area_container > .user_dropdown_menu{
	display:none;
	/* height:254px; now uses a div clear on last element */
	background-color:#644F75;
	position:absolute;
	right:22px;
	top:60px;
	padding:20px 20px;
}


.header > .user_area_container > .user_dropdown_menu > p{
	font-size:17px;
	font-weight:semibold;
	letter-spacing:-0.03em;
	line-height:100%;
	width:100%;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.header > .user_area_container > .user_dropdown_menu > p:hover{
	position:relative;
	/*background-color:#fff;*/
	/*color:#644f75;*/
	left:5px;
}

.header > .user_area_container > .user_dropdown_menu > p:active{
	color:#b3d4fc;
}


.header > .user_area_container > .user_dropdown_menu > p > img{
	max-height:20px;
	padding-right:4px;
	
}

.header > .user_area_container > .user_dropdown_menu > .user_drop_hr{
	height:2px;
	background-color:white;
	width:100%;
	margin-top:5px;
	margin-bottom:7px;
}

.header > .user_area_container > .user_dropdown_safetymousearea{
	position:absolute;
	width:250px;
	height:40px;
	right:0px;
	top:40px;
	display:none;
}


/*	user_dropdown_menu*/