.loginbg{
	min-width:100%;
	min-height:100%;
}

.loginbg > .login_content{
	width:100%;
	padding:30px 90px 30px;
	padding-left:10%;
	background-color:transparent;
	padding-top:10%;
}

.loginbg > .login_content > .login_container{
	height:327px;
	width:500px;
	background-color:white;
	border-radius:7px;
	padding:20px 30px;
	text-align:center;
}
.loginbg > .login_content > .login_container > p{
	margin-top:3px;
}

.loginbg > .login_content > h1  {
	color:white;
	font-size:55px;
	margin-top:0;
	margin-bottom:5px;
	letter-spacing:-2pt;
	text-shadow: 3px 1px 5px #4A4A4A;
}


.inptbootstraplike2{
	border:none;
	border-radius:3px;
	padding:2px 10px;
	color:#9C9C9C;
	font-weight:300;
	font-family:arial;
	font-size:18px;
	width:360px;
	height:45px;
	display:inline-block;
	margin-top:-1px;
	vertical-align:middle;
	margin-top:7px;
	border:1px solid #e2cef2;
}
.inptbootstraplike2:focus{
	-webkit-box-shadow: 0px 0px 6px 2px rgba(100, 79, 117, 0.77);
	-moz-box-shadow:    0px 0px 6px 2px rgba(100, 79, 117, 0.77);
	box-shadow:         0px 0px 6px 2px rgba(100, 79, 117, 0.77);
}

.advice{
	width:100%;
	color:white;
	font-weight:bold;
	background: rgba(161, 0, 0, 0.7);
	height:40px;
	top:0;
	position:fixed;
	text-align:center;
	padding-top:8px;
	font-size:17px;
	display:none;
}

.advice > img{
	max-height:22px;
	margin-top:-3px;
}

#message > a{
	color:white;
	text-decoration: underline;
}
