/* view single news css */
#news_subtitle{
	color:#aaa;
	font-size:16px;
	margin-top:-20px;
}
#news_subtitle > a{
	color:#aaa;
	text-decoration:underline;
}

#news_subtitle > a:hover{
	color:#644F75;
}

#news_body{
	padding:10px;
	white-space:preline;
	font-size:15px;
}

/* view all news css*/
.news_container{
	width:100%;
	height:auto;
}

.news_container > .news_entry{
	width:100%;
	min-height:100px;
	border-bottom:1px solid #ccc;
	padding:20px;
}

.news_container > .news_entry:hover{
	background-color:#f6f6f6;
	cursor:pointer;
}

.news_header{
	height:30px;
	margin-top:10px;
	width:100%;
	padding-right:10px;
	text-align:right;
}


.news_entry_header{
	background-color:#644F75;
	padding:5px;
	padding-left:15px;	
}


.news_entry_header > .entry_header > h2{
	color:white;
	font-size:17px;
	padding-top:2px;
}

.news_entry_header > .commentsnum{
	margin-top:-29px;
	padding:5px;
	padding-right:15px;
	float:right;
}

.news_entry_header > .commentsnum > a{
	color:white;
	text-decoration:underline;
	font-size:15px;
}

.search_top_selector{
	color:white;
	width:100%;
	background-color:#644F75;
	height:40px;
	position:fixed;
	top:0;
	display:none;
	z-index:200;
	padding-right:50px;
	padding-left:50px;
	font-size:17px;
	text-align:right;
	padding-top:6px;
}

.search_top_selector > a{
	color:white;
	text-decoration:underline;
}

.search_top_selector > input[TYPE=SELECT]{
	height:30px;
}

.news_title{
	width:100%;
	padding:6px;
	background-color:#644F75;
	padding-left:20px;
	margin-top:10px;
}

.news_title > h1{
	color:white;
	padding:0;
	margin:0;
}

.description > .search_paginator{
	width:100%;
	text-align:right;
	padding:10px;
	height:60px;
}
.description > .search_paginator > .rpp_container{
	float:left;
	padding-top:10px;
}

.description > .search_paginator > .rpp_container > select{
	border:1px solid gray;
	color:#330066;
	height:23px;
	padding-right:10px;

}

.description > .search_paginator >  .search_paginator_container{
	float:right;
}

.nav-pills > li {
	float: left;
}
.nav-pills > li > a {
	border-radius: 4px;
	color:#644F75;
}
.nav-pills > li + li {
	margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #fff;
	background-color:#644F75;
}
.nav {
	padding-left: 0;
	margin-bottom: 20px;
	list-style: none;
}
.nav > li {
	position: relative;
	display: block;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
	cursor:pointer;
}

.nav > li > a.label {
	cursor:default;
}
.nav > li > a.label:hover {
	background-color:white;
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #eee;
}
.nav > li.disabled > a {
	color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}

