.search_top_selector{
	z-index:300;
	width:100%;
	height:45px;
	background-color:#644F75;
	display:none;
	top:0;
	position:fixed;
	padding-left:10%;
	padding-right:10%;
	box-shadow:2px 2px 2px gray;
	color:white;
	font-size:15px;
}

.search_header{
	height:57px;
	width:100%;
	color:white;
	margin-bottom:-20px;
	background: rgb(158,128,188); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(158,128,188,1) 0%, rgba(100,79,117,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(158,128,188,1)), color-stop(100%,rgba(100,79,117,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(158,128,188,1) 0%,rgba(100,79,117,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(158,128,188,1) 0%,rgba(100,79,117,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(158,128,188,1) 0%,rgba(100,79,117,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(158,128,188,1) 0%,rgba(100,79,117,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e80bc', endColorstr='#644f75',GradientType=0 ); /* IE6-9 */
	padding:15px;
}

.search_header > .searchpage_form{
	margin-top:-7px;
}

.search_header > .searchpage_form > .left_search{
	float:left;
	width:620px;
}

.search_header > .searchpage_form > .left_search > .search_magnifier{
	height:30px;
	width:30px;
	background-color:white;
	float:left;
	border:1px solid #c3a2de;
	border-left:none;
	padding-top:2px;
}
.search_header > .searchpage_form > .left_search > .search_magnifier > img{
	height:24px;
	cursor:pointer;
}

.search_header > .searchpage_form > .left_search > .typeofsearch_select{
	width:100px;
	background-color:#493868;
	float:left;
	text-align:center;
	cursor:pointer;
	height:30px;
}

.search_header > .searchpage_form > .left_search > .typeofsearch_select > select{
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
    -webkit-appearance: menulist;	
	width:100%;
	height:100%;
	background-color:transparent;
	border:none;
	font-weight:bold;
	color:white;
	font-size:15px;
	padding-left:4px;
}

.search_header > .searchpage_form > .left_search > .typeofsearch_select > select > option{
	background-color:#644F75;
}

.search_header > .searchpage_form > .left_search > input[TYPE=TEXT]{
	width:400px;
	border:1px solid #c3a2de;
	border-right:none;
	padding:3px;
	height:30px;
	padding-left:8px;
	float:left;
	font-size:17px;
}	

.search_header > .searchpage_form > .right_search{
	float:right;
	padding:5px;

}

.search_header > .searchpage_form > .right_search > a{
	color:white;
	cursor:pointer;
	font-weight:bold;
}


.search_header > .searchpage_form > .right_search > a > img{
	max-height:18px;
	margin-top:-3px;
	padding-left:4px;
}

.description > .advanced_search{
	width:100%;
	margin-top:-25px;
	padding-bottom:5px;
	display:none;
}

.description > .advanced_search > h3{
	color:#3d3047;
	padding-top:0px;
	margin-top:0px;
	margin-bottom:2px;
	font-size:17px;
}

.advanced_search label{
	color:#3d3047;
	font-size:14px;
}

.advanced_search input[TYPE=SUBMIT]{
	color:white;
	background-color:#644F75;
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 5px 2px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 22px;           /* make this the size of your image */
    width:145px;
    padding-left: 15px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
	border:1px solid #c3a2de;
	text-shadow: 1px 0px 2px rgba(70, 70, 70, 1);
}

.advanced_search select{
	border:1px solid gray;
	color:#330066;
}

.advanced_search input[TYPE=TEXT]{
	border:1px solid gray;
	color:#330066;
}


.description > .advanced_search > .adv_user{
	padding-left:5px;
	display:none;
}

.description > .advanced_search > .adv_platform{
	padding-left:5px;
	display:none;
}
.description > .advanced_search > .adv_game{
	padding-left:5px;
	display:none;
}

.description > .search_results > .results_container{
	padding:10px;
	min-height:150px;
}

.description > .search_results > .results_container > a > .result_entry{
	padding:9px;
	width:100%;
	border-bottom:1px solid #ddd;
}
.description > .search_results > .results_container > a > .result_entry:hover{
	background-color:#f9f0ff;
	cursor:pointer;
}

.description > .search_results > .results_container > a > .result_entry:active{
	background-color:white;
}

.description > .search_results > .results_container > a > .result_entry > .result_entry_img{
	min-height:130px;
	width:150px;
	max-width:150px;
	float:left;
}
.description > .search_results > .results_container > a > .result_entry > .result_entry_img > img{
	width:140px;
	box-shadow: 2px 2px 2px -1px #888 ;
	-o-box-shadow: 2px 2px 2px -1px #888 ;
	-moz-box-shadow: 2px 2px 2px -1px #888 ;
	-webkit-box-shadow: 2px 2px 2px -1px #888 ;
	background-color:#ccc;
}

.description > .search_results > .results_container > a > .result_entry > .result_entry_text{
	min-height:130px;
	padding-left:5px;
	float:right;
	width: calc(100% - 160px);
	width: -o-calc(100% - 160px);
	width: -moz-calc(100% - 160px);
	width: -webkit-calc(100% - 160px);
}

.description > .search_results > .results_container > a > .result_entry > .result_entry_text > .title{
	padding-right:20px;
	color:#3d3047;
}

.description > .search_results > .results_container > a > .result_entry > .result_entry_text > .extra_info{
	color:#999;
	width:100%;
	font-size:13px;
	padding:0;
	padding-left:10px;
}

.description > .search_results > .results_container > a > .result_entry > .result_entry_text > .synopsis{
	max-height:120px;
	color:#777;
	font-size:14px;
	padding:10px;
	padding-top:5px;
}


.search_results > h1{
	font-size:22px;
	margin-bottom:5px;
	padding:0;
	color:#3d3047;
}

hr{
	margin:0;
	padding:0;
	margin-bottom:15px;
	border-top:1px solid #ddd !important;
	height:1px;
}


.description > .search_paginator{
	width:100%;
	text-align:right;
	padding:10px;
	height:60px;
}
.description > .search_paginator > .rpp_container{
	float:left;
	padding-top:10px;
}

.description > .search_paginator > .rpp_container > label{
	color:#644F75;
	font-weight:bold;
	margin-right:8px;
}

.description > .search_paginator > .rpp_container > select{
	border:1px solid gray;
	color:#330066;
	height:23px;
	padding-right:10px;

}

.description > .search_paginator >  .search_paginator_container{
	float:right;
}

.nav-pills > li {
	float: left;
}
.nav-pills > li > a {
	border-radius: 4px;
	color:#644F75;
}
.nav-pills > li + li {
	margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #fff;
	background-color:#644F75;
}
.nav {
	padding-left: 0;
	margin-bottom: 20px;
	list-style: none;
}
.nav > li {
	position: relative;
	display: block;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
	cursor:pointer;
}

.nav > li > a.label {
	cursor:default;
}
.nav > li > a.label:hover {
	background-color:white;
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #eee;
}
.nav > li.disabled > a {
	color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}

.star{
	max-width:19px;
	margin-top:-6px;
}

table.search_filters td
{
	padding: 12px 4px;
}
