.slider {
  width: 350px;
  display:inline-block;
}

.slider > .dragger {
  background: #8DCA09;
  background: -webkit-linear-gradient(top, #774F78, #522B4D);
  background: -moz-linear-gradient(top, #774F78, #522B4D);
  background: linear-gradient(top, #774F78, #522B4D);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 16px;
  height: 16px;
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #8DCA09, #8DCA09);
}


.slider > .track, .slider > .highlight-track {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 6px;
}

.slider > .highlight-track {
	background-color: #774F78;
	background: -webkit-linear-gradient(top, #774F78, #522B4D);
	background: -moz-linear-gradient(top, #774F78, #522B4D);
	background: linear-gradient(top, #774F78, #522B4D);
	border-color: #795D7D;
}

